        <div class="inputcontainer">
            <div class="profileport">

            <div class="profile">
            <input class="inputperfil" type="file">
            </div>
            <div class="port">
            <img src="" alt="">    
            <input class="inputimage" type="file">
            </div>
            
          </div>
            <div class="lctl-navbar">
        
                <ul class="breadcrumb">
                    <li><a href="#">Información del Local</a></li>
                    <li><a href="#">Distrubución de las Mesas</a></li>
                    <li><a href="#">Horarios</a></li>
                   </ul>
            </div>    
        </div>

    
    

       
    








