
.inputimage{

    width: 100%;
    height: 274px;
    background-color:#F0EFEF;
   

}
.aligns{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:-250px;
}
.inputperfil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #D8D8D8;
    margin: auto;
    visibility: visible;

}

.borderc{
  border-color:var(--secundaryColorPush);
}
