
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="inputcontainer">
            <div class="lctl-container-photoProfile-l profile">
            <img src="" alt=""><input class="inputperfil" type="file">
            </div>
            <input class="inputimage" type="file">
        </div>

    <div class="lctl-navbar">
        
        <ul class="breadcrumb">
            <li><a href="#">Información del Local</a></li>
            <li><a href="#">Distrubución de las Mesas</a></li>
            <li><a href="#">Horarios</a></li>
           
          </ul>
    </div>
        



    </body>
    </html>
    
    

       
    








