
        <div class="inputcontainer">
            <div class="profileport inputimage"> 
                <label id="labeldos"></label><img class="profileport inputimage" id="mostrarbanner" (click)="banner.click()">  
                
    <div class="aligns">
            <label id="labeluno"></label><div class="lctl-photoProfile-xl borderc" (click)="perfil.click()">    
            <img id="mostrarlogo" >
        </div>
    </div>

            
            <input  style="display:none" id="perfil" type="file" name="perfil" #perfil (change)="processLogo(perfil)">
            <div class="port">
            <img src="" alt="">
            <input  style="display:none" id="banner" type="file" name="banner" #banner (change)="processBanner(banner)">
            </div>
          </div>
            
        </div>


    

       
    








