
.inputimage{

    width: 100%;
    height: 274px;
    background-color:#F0EFEF;
   

}
.profile{
    width: 100%;
    height: 274px;
    position: absolute;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.inputperfil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #D8D8D8;
    margin: auto;
    visibility: visible;

}

.breadcrumb { 
    list-style: none; 
    overflow: hidden; 
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .breadcrumb li { 
    display: flex;
    text-align: center;

    
    
  }
  .breadcrumb li a {

    color: var(--secundaryColor);
    text-decoration: none; 
    padding: 10px 0 10px 0;
    background: var(--secundaryColorPush); 
    position: relative; 
    display: block;
    float: left;
    width: 33vw;

   
  }
  .breadcrumb li a:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid var(--secundaryColorPush);
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    left: 100%;
    z-index: 2; 
  } 
  .breadcrumb li a:before { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid var(--secundaryColor);
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    margin-left: 1px;
    left: 100%;
    z-index: 1; 
  } 
 
  .breadcrumb li:last-child a:after { border: 0; }
  .breadcrumb li a:hover { background:var(--secundaryColorContrast)}
  .breadcrumb li a:hover:after { border-left-color: var(--secundaryColorContrast) !important; }
  
  
  