
.inputimage{

    width: 100%;
    height: 274px;
    background-color:#F0EFEF;
   

}
.aligns{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:-250px;
}
.inputperfil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #D8D8D8;
    margin: auto;
    visibility: visible;

}



#labeluno {
  position: relative;
}

#labeluno:before {
  content: "";
  position:absolute;
  left: 120px;
  top: 0;
  bottom: 0;
  height: 40px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-pencil' width='35' height='35' viewBox='0 -10 42 42' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1' /%3E%3Cpolyline points='9 15 12 12 15 15' /%3E%3Cline x1='12' y1='12' x2='12' y2='21' /%3E%3C/svg%3E");
  z-index:1000;
}

#labeldos {
  position: relative;
}

#labeldos:before {
  content: "";
  position:absolute;
  left: 120px;
  top: 0;
  bottom: 0;
  height: 40px;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-pencil' width='35' height='35' viewBox='0 -10 42 42' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1' /%3E%3Cpolyline points='9 15 12 12 15 15' /%3E%3Cline x1='12' y1='12' x2='12' y2='21' /%3E%3C/svg%3E");
  z-index:1000;
}
.borderc{
  border-color:var(--secundaryColorPush);
}
