<div class="head">
    <div class="aligns">
        <div class="lctl-photoProfile-xl logo" *ngIf="restaurantService.restaurantReservation.logo; else notLogo">
            <img src="{{restaurantService.restaurantReservation.logo}}">
        </div>
        <ng-template #notLogo>
            <div class="lctl-photoProfile-xl logo">
                <img src="assets/photos/logorestaurante2.png">
            </div>
        </ng-template>
    </div>
    <div class="img" *ngIf="restaurantService.restaurantReservation.header; else notHeader">
        <img src="{{restaurantService.restaurantReservation.header}}" class="imgIn">  
    </div>
    <ng-template #notHeader>
        <div class="img">
            <img src="assets/photos/potada2.png" class="imgIn">  
        </div>
    </ng-template>
</div>

<div class="headMal">
    <div class="title">
        <div class="lctl-br w"></div>
        <div class="lctl-br space"></div>
        <p class="lctl-font-title">
            {{this.calendarService.changedDayName}}
            {{this.calendarService.getNewDate().dayNum}}
            de
            {{this.calendarService.changedMonth}}
            {{this.calendarService.getNewDate().year}}
        </p>
        <div class="lctl-br w"></div>
        <div class="lctl-br space"></div>
    </div>
    <p class="lctl-font-title">Horario</p>
</div>
<div class="page">
    <div class="schedules">
        <div>
            <ng-container *ngFor="let shift of availableShifts; let i = index">
                <div class="lctl-cellButton" id="turnos"
                [ngClass]="{'lctl-cellButton-selected': this.selectedShiftId==availableShifts[i].shift_id}" 
                (click)="shiftId(availableShifts[i].shift_id)">
                    {{availableShifts[i].shift_from}} a {{availableShifts[i].shift_to}}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="end">
        <div class="comment" >
            <p class="obs">Observaciones:</p>
            <textarea class="com" id="obs"></textarea>
        </div>
        <div class="pass">
            <button (click)="openDialog()" class="lctl-button-m">Siguiente</button>
            <button class="lctl-warnButtonOpposite-m" routerLink="/reservation1">Anterior</button>
        </div>
    </div>
</div>