<div class="content">
    <div>
        <img class="" src="..//..//..//..//assets/ding.svg" alt="">
    </div>
    <div>
        <div></div>
        <p class="lctl-centerElements">La Abuela</p>
       </div>
    <div class="info">
            <p>
            Nombre: José Fernandez <br/>
            Día: 21/09/20020<br/>
            Horario: 5:00PM<br/>
            Observaciones: Ninguna<br/>
            Número de personas: 4
           </p> 
    </div>

     <div>
        <button [mat-dialog-close]="true" class="lctl-warnButton-s buttonLib">Confirmar</button>
         <button [mat-dialog-close]="true" cdkFocusInitial class="lctl-warnButton-s buttonCan">Cancelar</button>
     </div>

     <div>
         <p>
             Dirección. Calle Gabriel Celalla #21<br/>
             Télefono.  650 489 2509
         </p>
     </div>
  
  </div>