form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secundaryColor);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  & .title {
    text-transform: capitalize;
  }
  & .inputForm {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 38px;
    min-width: 100%;
  }
  & > .overLogIn {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 60px;
    & > div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      & > .textCheck{
        padding-left: 10px;
        height: 12px;
      }}
      & > div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }}
    .logIn {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .separate {
      margin: 18px;
      width: calc(100% - 36px);
    }
    .register {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 10px;
      .registerBlue {
        font-size: var(--fontSizeS);
      }
    }
}
//-----Especial Elements-----
#labelOne {
  position: relative;
}
#labelOne:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 7px;
  bottom: 0;
  height: 45px;
  width: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-user' width='33' height='33' viewBox='0 -10 30 30' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='7' r='4' /%3E%3Cpath d='M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2' /%3E%3C/svg%3E");
}
#labelTwo {
  position: relative;
}
#labelTwo:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 7px;
  height: 45px;
  bottom: 0;
  width: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-lock' width='30' height='33' viewBox='0 -10 30 30' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Crect x='5' y='11' width='14' height='10' rx='2' /%3E%3Ccircle cx='12' cy='16' r='1' /%3E%3Cpath d='M8 11v-4a4 4 0 0 1 8 0v4' /%3E%3C/svg%3E");
}
.caution{
  border:var(--secundaryColorContrast) solid 2px;
}
.invalid-feedback-left{
  color:var(--secundaryColorContrast);
  display:flex;
  justify-content: left!important;
  font-size:12px;
}
//-----//-----//-----//-----//-----//-----

//-----responsive-----
@media screen and (max-width: 1250px) {
  form {
    & .title {
    }
    & .inputForm {
    }
    & > .overLogIn {
      width: calc(100% - 220px);
      & > div:first-child {
        & > .textCheck{
      }}
      & > div:nth-child(2) {
  }}
  .logIn {
  }
  .separate {
  }
}}
@media screen and (max-width: 850px) {
  form {
    & .title {
    }
    & .inputForm {
    }
    & > .overLogIn {
      width: 600px;
      & > div:first-child {
        & > .textCheck{
      }}
      & > div:nth-child(2) {
}}}}
@media screen and (max-width: 650px) {
  form {
    & .title {
    }
    & .inputForm {
      max-width: 400px;
    }
    & > .overLogIn {
      width: 400px;
      & > div:first-child {
        & > .textCheck{
      }}
      & > div:nth-child(2) {
  }}
  .logIn {
      
  }
}}
@media screen and (max-width: 450px) {
  form {
    & .title {
    }
    & .inputForm {
      width: 100%;
    }
    & > .overLogIn {
      flex-direction: column;
      width: auto;
      & > div:first-child {
        margin: 5px;
        & > .textCheck{
      }}
      & > div:nth-child(2) {
        margin: 5px;
    }}
    .logIn {
      
    }
}}