<form #userForm="ngForm" (ngSubmit)="(userForm.invalid) ? 'mal' : onSubmit(userForm)">

  <p class="lctl-font-title titleForm">
    acceder
  </p>
    <input id="profile" class="lctl-input-l-large inputForm" name="email" placeholder="Email" 
      placeholder="{{userForm.submitted && email.invalid ?  'Email obligatorio' : 'Email'}}"
      [(ngModel)]="users.mail" #email="ngModel" type="email"
      [ngClass]="{'caution':userForm.submitted && email.invalid }" email required>
    <input id="password" class="lctl-input-l-large inputForm" name="password" 
      placeholder="{{userForm.submitted && password.invalid ?  'Contraseña obligatoria 6 caracteres' : 'Contraseña'}}"
      [(ngModel)]="users.password" #password="ngModel" type="password"
      [ngClass]="{'caution':userForm.submitted && password.invalid }" minlength="6" required>

  <div class="overLogIn">

    <div [ngClass]="{'caution':userForm.submitted && check.invalid }">
      <input type="checkbox" name="check" [(ngModel)]="remember" #check="ngModel">
      <p class="textCheck lctl-font-underline">
        Recuerdame
      </p>
    </div>

    <div>
      <a class="lctl-font-link lctl-font-underline">
        ¿Olvidaste la contraseña?
      </a>
    </div>

  </div>

  <div class="messageDiv" *ngIf="(userForm.submitted && email.invalid)">
      <div *ngIf="email.errors.required">Introduce un email</div>
      <div *ngIf="email.errors.email">El email no tiene el formato correcto</div>
  </div>
  

  <div class="messageDiv" *ngIf="userForm.submitted && password.invalid">
    <div *ngIf="password.errors.required">Introduce una contraseña</div>
    <div *ngIf="password.errors.minlength">La contraseña debe tener 6 caracteres</div>
  </div>
  
  <div class="logIn">
    <button class="lctl-button-m">
      Iniciar sesión
    </button>
  </div>

  <div class="lctl-br separate">
  </div>

  <div class="register">

    <div class="lctl-font-comment cursor">
      ¿Aún no has creado tu cuenta en Mi reserva?
      <a class="lctl-font-link lctl-font-smallBold" routerLink="/registration">
        Registrate
      </a>
    </div>

  </div>  
  
</form>
