  <app-navbarLogin></app-navbarLogin>

<div class="putItems">
  <div>
    <img src="assets/Mesa.svg">
  </div>
  <form #userForm="ngForm" (ngSubmit)="(userForm.invalid) ? 'mal' : onSubmit(userForm)">
    <p class="lctl-font-title title">acceder</p>
    <div class="lctl-br space"></div>
    <label id="labelOne">
      <input class="lctl-input-l-large" name="email" placeholder="Email" 
        placeholder="{{userForm.submitted && email.invalid ?  'Email obligatorio' : 'Email'}}"
        [(ngModel)]="user.email" #email="ngModel"
        [ngClass]="{'caution':userForm.submitted && email.invalid }" email required></label>
    <label id="labelTwo">
        <input class="lctl-input-l-large" name="password" 
          placeholder="{{userForm.submitted && password.invalid ?  'Contraseña obligatoria 6 caracteres' : 'Contraseña'}}"
          [(ngModel)]="user.password" #password="ngModel"
          [ngClass]="{'caution':userForm.submitted && password.invalid }" minlength="6" required>
    </label>
    
    <div class="lctl-br space2"></div>
    <div>
      <div [ngClass]="{'caution':userForm.submitted && check.invalid }">
        <input type="checkbox" name="check" [(ngModel)]="user.check" #check="ngModel">
        <p class="lctl-font-underline">Recuerdame</p>
      </div>
      <div>
        <a class="lctl-font-link lctl-font-underline">¿Olvidaste Contraseña?</a>
      </div>
    </div>
    <div>
      <button class="lctl-button-m">Iniciar sesión</button>
    </div>
    <div class="lctl-br space2"></div>
    <div class="lctl-br">
    </div>
    <div class="lctl-br space2"></div>

    <div>
      <p>
        ¿Aún no has creado tu cuenta?
        <a class="lctl-font-underline" routerLink="/registration">
          Registrate
        </a>
      </p>
    </div>  
  </form>
</div>
