.colocaritems{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--secundaryColor);
  }
  .colocaritems > *{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .colocaritems > * input{
      margin-top: 5px;
      margin-bottom: 6px;
      padding-left: 38px;
  }
  .colocaritems > * div {
      display:flex;
      justify-content: center;    
      width:100%;
  }
  .colocaritems > * div div {
      display:flex;
      justify-content:left;
  }
  .colocaritems > * div div p{
      padding-left: 10px;
  }
  //ESTO LLEGA HASTA EL FORGOT PASSWORD
  .colocaritems > * div div a{
      text-align: right;
      width:100%;
  }
  
  #labeluno {
      position: relative;
    }
    
    #labeluno:before {
      content: "";
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      width: 20px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-user' width='33' height='33' viewBox='0 -10 30 30' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='7' r='4' /%3E%3Cpath d='M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2' /%3E%3C/svg%3E");
    }
  
    #labeldos {
      position: relative;
    }
    
    #labeldos:before {
      content: "";
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      width: 20px;
      
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-lock' width='30' height='33' viewBox='0 -10 30 30' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Crect x='5' y='11' width='14' height='10' rx='2' /%3E%3Ccircle cx='12' cy='16' r='1' /%3E%3Cpath d='M8 11v-4a4 4 0 0 1 8 0v4' /%3E%3C/svg%3E");
    }
  .titulo
  {
      font-size:17px;
  }
  
  .letraspeque
  {
      font-size:14px;
  }
  
  hr {
      border: 0;
      clear:both;
      display:block;
      width: 96%;               
      background-color:grey;
      height: 1px;
    }
  

  .caution{
      border:var(--secundaryColorContrast) solid 2px;
  }

  .invalid-feedback-left{
    color:var(--secundaryColorContrast);
    display:flex;
    justify-content: left!important;
    font-size:12px;
  }
