form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secundaryColor);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 1200px;
  & .titleForm {
  }
  & .inputForm {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 38px;
    padding-right: 38px;
    max-width: 800px;
  }
  & > .overLogIn {
    display: flex;
    justify-content: flex-start;
    width: 560px;
    height: 60px;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      & > .textCheck{
        padding-left: 10px;
        height: 12px;
        transform: translate(0, 4px);
}}}
    .logIn {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .separate {
      margin: 18px;
      width: 600px;
    }
    .register {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 10px;
}}
//-----Especial Elements-----
#profile {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-user' width='33' height='33' viewBox='0 -10 30 30' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='7' r='4' /%3E%3Cpath d='M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 7px 0;
}
#password {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-lock' width='30' height='33' viewBox='0 -10 30 30' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Crect x='5' y='11' width='14' height='10' rx='2' /%3E%3Ccircle cx='12' cy='16' r='1' /%3E%3Cpath d='M8 11v-4a4 4 0 0 1 8 0v4' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 7px 0;
}
.caution{
  border:var(--secundaryColorContrast) solid 2px;
}


.invalid-feedback-left{
  color:var(--secundaryColorContrast);
  display:flex;
  justify-content: left!important;
  font-size:12px;
}
//-----//-----//-----//-----//-----//-----

//-----responsive-----
@media screen and (max-width: 1250px) {
  form {
    & .title {
    }
    & .inputForm {
    }
    & > .overLogIn {
      & > div {
        & > .textCheck{
      }}
  }
  .logIn {
  }
  .separate {
  }
  .register {
}}}
@media screen and (max-width: 850px) {
  form {
    & .title {
    }
    & .inputForm {
    }
    & > .overLogIn {
      & > div {
        & > .textCheck{
      }}
  }
  .logIn {
  }
  .separate {
  }
  .register {
}}}
@media screen and (max-width: 650px) {
  form {
    & .title {
    }
    & .inputForm {
      max-width: 400px;
    }
    & > .overLogIn {
      width: 400px;
      & > div {
        max-width: 400px;
        & > .textCheck{
      }}
  }
  .logIn {
    margin-top: 10px;
  }
  .separate {
    width: calc(100% - 36px);
  }
  .register {
}}}
@media screen and (max-width: 450px) {
  form {
    & .title {
    }
    & .inputForm {
      width: 100%;
    }
    & > .overLogIn {
      flex-direction: column;
      width: auto;
      & > div {
        & > .textCheck{
      }}
    }
    .logIn {
    }
    .separate {
    }
    .register {
}}}