<footer class="lctl-footer">
    <div class="lctl-centerElements">
        <a href="https://www.linkedin.com" class="img">        
            <img src="../../../assets/Linkedin-icon.svg" alt="Linkedin">
        </a>
        <a href="https://www.facebook.com" class="img">
            <img src="../../../assets/facebook-icon.svg" alt="Facebook">
        </a>
        <a href="https://www.instagram.com" class="img">
            <img src="../../../assets/Instagram-icon.svg" alt="Instagram">
        </a>
    </div>
</footer>