.content {
    width: 500px;
    max-width: 100%;
    min-height: 280px;
    height: 380px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid var(--secundaryColorPush);
    border-radius: var(--borderRadiusM);
    background-color: var(--primaryColorOpposite);

    & > div:nth-child(1){
        display: flex;
        justify-content: center;
        background-color:var(--secundaryColorPush);
        width: 100%;
        height: 40px;
        & > p{
            margin-top: 10px;
            font-size: var(--fontSizeM);
            color: white;
            text-align: center;   
            
        }

    }

    
    & > div:nth-child(2){
        display: flex;
        justify-content: center;
        width: 100%;
        height: 40px;
        & > p{
            margin-top: 10px;
            font-size: var(--fontSizeM);
            color:var(--secundaryColorPush);
            text-align: center;   
            
        }

    }
}

.encolumna{
    display:flex;
    flex-direction: column;
    
   
}

.centrardos{
    display:flex;
    flex: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
}
.padding10{
    padding-top:10px;
}

.twobuttons{
    padding-top:20px;
    display:flex;
    justify-content: space-evenly;
}

.ajuste
{
    color:var(--secundaryColorPush);
    justify-content: left!important;
}
//     & > div:nth-child(3){
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         width: 100%;
//         height: 220px;
    

//         & > div:nth-child(4){
//         width: 100%;
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
        
       
          
//         & > input{
//             font-size: var(--fontSizeS);
//             font-weight: var(--fontWidthLight);
//             color: grey;
//             margin-top: 10px;
//             margin-right: 5px;
            
//         }
//         & > select{
//             font-size: var(--fontSizeS);
//             font-weight: var(--fontWidthLight);
//             color: grey;
//             margin-top: 10px;
//             margin-right: 5px;
            
//         }
        
//         }

//         & > div:nth-child(2){
//             width: 50%;
//             margin-left: auto;
//             height: 100%;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: flex-start;
           

//         & > input{
//             margin-top: 10px;
//             margin-left: 5px;
//             font-size: var(--fontSizeS);
//             font-weight: var(--fontWidthLight);
//             color: grey;

            
//         }
//         & > select{
//             width: 205px;
//             font-size: var(--fontSizeS);
//             font-weight: var(--fontWidthLight);
//             color: grey;
//             margin-top: 10px;
            
//         }
        

//         }
        
//     }

//     & > div:nth-child(3){
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         width: 100%;
//         height: 100%;
       
//         & > input{
//             width: 410px;
//             height: 50px;
//             margin-top: -10px;
//             font-size: var(--fontSizeS);
//             font-weight: var(--fontWidthLight);
//             color: grey;  
            
//         }    
//     }

//     & > div:nth-child(4){
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         width: 100%;
//         height: 100%;
       
        
//         & > button{
//             margin-top: -8px;
//             justify-items: center;
//             width: 410px;
//             height: 30px;
           
            
            
//         }
        
        
//     }
// }

///////////img

// .image{
//     display: flex;
//     width: 100%;
//     height: 340px;
//     margin: auto;
    

//     & > div:nth-child(1){
//        z-index: 3;
//         display: flex;
//         flex-direction: column;
//         margin: auto;
//         width: 500px;
//         margin-right: -50px;


//         & > p{
//             font-size: var(--fontSizeM);
//             text-align: center;

//         }
//     }

//     & > div:nth-child(2){
       
//         display: flex;
//         flex-direction: column;
//         margin: auto;
//         width: 500px;   
//         margin-left: -50px;
//         height: 300px;
//     }


// }


// .target{
//     max-width: 700px;
//     min-width: 300px;
//     height: 400px;
//     display: flex;
//     margin: auto;
//     flex-direction: column;
//     border: 2px solid var(--secundaryColorPush);
//     background-color: var(--secundaryColor);
//     border-radius: var(--borderRadiusM);

    
//     & > div:nth-child(1){
        
        
//         display: flex;
//         flex-direction: column;
//         height: 100%;
//         width: 100%;
        


//     }
//     & > div:nth-child(2){
       
//         display: flex;
//         justify-content: space-around;
//         width: 250px;
//         margin: auto;
//         height: 60px;
//     }
    
// }

// #one {
//     position: relative;
//   }
  
//   #one:before {
//     content: "";
//     position: absolute;
//     left: 2px;
//     top: 12px;
//     bottom: 0;
//     width: 10px;
//     height: 8px;
//     background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='10px' height='7px' viewBox='0 0 17 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3E%3Ctitle%3EGroup Copy 2%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='anadirRestau-Copy-3' transform='translate(-810.000000, -699.000000)'%3E%3Cg id='Group-Copy-2' transform='translate(805.000000, 691.000000)'%3E%3Cpolygon id='Path' points='0 0 26 0 26 26 0 26'%3E%3C/polygon%3E%3Cpolyline id='Path' stroke='%23D5341F' stroke-width='2.75' stroke-linecap='round' stroke-linejoin='round' points='7 10 13.5 17 20 10'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   
//   }
