//-----//-----//-----//-----//-----
//-----modifyNav-----
//-----//-----//-----//-----//-----
.modifyNav { 
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden; 
  padding: 0;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modifyNav > div { 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  height: 100%;
  width: 100%;
  background-color: var(--secundaryColorPush);
  position: relative;
  & a {
    color: var(--secundaryColor);
    font-weight: var(--fontWidthBolder);
    transform: translateX(-15px);
    cursor: default;
  }}
.modifyNav div:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid var(--secundaryColorPush);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 1;
  transform: translateX(-15px);
} 
.modifyNav div:before {
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid var(--secundaryColor);
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1;
  transform: translateX(-15px);
}
.modifyNav div:last-child::before {
  display: none;
}
#info {
  background-color: var(--primaryColor);
  &::after {
    border-left-color: var(--primaryColor);
  }
}
@media screen and (max-width: 425px) {
  .modifyNav div:after, .modifyNav div:before { 
    display: none;
}}

//-----//-----//-----//-----//-----//-----

.all {
  min-height: calc(100vh - 122px);
  padding-bottom: 52px;
  width: min(100%, 1440px);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 425px) {
.all {
  min-height: calc(100vh - 132px);
}}
//-----//-----//-----//-----//-----//-----
//-----Images-----
//-----//-----//-----//-----//-----//-----
.head {
  position: sticky;
  background-color: var(--secundaryColor);
  top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.inputimage {
  max-width: min(100%, 1440px);
  max-height: 274px;
  margin: auto;
  text-align: center;
  & > .inInputimage {
    max-width: min(100%, 1440px);
    max-height: 274px;
  }}
//-----
.aligns {
  width: 15%;
  min-width: 62px;
  max-width: 150px;
  min-height: 62px;
  margin: auto;
  margin-top: max(-8%, -8vw);
  z-index: 1;
  & > div {
    width: 100%;
    height: 100%;
    border: 2px solid var(--secundaryColorPush);
    & > img {
      width: 100%;
}}}
//-----//-----//-----//-----//-----//-----
//-----Form-----
//-----//-----//-----//-----//-----//-----
.createForm {
  width: min(100%, 1440px);
  margin-top: 10px;
  min-height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  & .inputs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    & > div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      & > input, > select {
        margin: 10px;
      }}}}
@media screen and (max-width: 768px) {
  .createForm > .inputs > div {
    flex-wrap: wrap;
}}
//-----//-----//-----//-----//-----
//-----Buttons-----
//-----//-----//-----//-----//-----
.pass {
  position: absolute;
  bottom: 0;
  background-color: var(--primaryColorOpposite);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 50px;
  width: 100%;
  height: 52px;
}
@media screen and (max-width: 768px) {
  .pass {
    justify-content: center;
    padding: 0;
    & > button {
      width: 120px;
}}}
//-----//-----//-----//-----//-----
//-----Validations-----
//-----//-----//-----//-----//-----
#food{
 color:var(--secundaryColorPush);
}
.message {
  font-size:var(--fontSizeM);
  width: min(calc(100% - 20px), 1420px);
  text-align: center;
}
@media screen and (max-width: 768px) {
  .message {
  width: min(calc(100% - 20px), 450px)!important;
}}