<div class="content">
  
  <div>
    <h1>Editar Turnos</h1>
  </div>
  <div>
    <p>{{name}}   {{service}} Horario {{limiteinicio}} a {{limitefinal}}</p>
  </div>
  <div class="info">
       <input class="lctl-input-m-Large" type="time" #shiftinicio required>
       <input class="lctl-input-m-Large" type="time" #shiftfinal required>
       <input class="lctl-input-m-Large" type="number" onkeydown="return false" min=0 max={{serviceRestaurant.capacity}} #paxmax>
       <button (click)="maximo(paxmax)">Maximo</button>
       <button   class="lctl-warnButton-m buttonLib" (click)="addShifts(shiftinicio,shiftfinal,paxmax)">Anadir Turnos</button>       
  </div>
  
  
 <div class="scrollshifts" *ngIf="this.shifts.length!=0; else sinShifts" >
  <div class="title">
    <div class="rows">
        <p class="lctl-font-bold">Desde</p>
        <p class="lctl-font-bold">Hasta</p>
        <p class="lctl-font-bold">PAX Max</p>

        <button class="lctl-button-m esconder">Eliminar</button>

    </div>
</div>
    <div class="column" *ngFor="let shift of shifts;let i =index">
           
            <div>
            <div class="lctl-br w"></div>
            </div>
            <div>
                <div class="lctl-br space3 w"></div>
            </div>
            <div class="rows" >    
        <p class="lctl-font-paragraph">{{shift.shift_from}}</p>
        <p class="lctl-font-paragraph">{{shift.shift_to}}</p>
        <p class="lctl-font-paragraph">{{shift.pax}}</p>
        <button (click)="deleteShifts(i,shift)" class="lctl-button-m ">Eliminar</button>
        </div>
        
    </div>
  </div>
<ng-template #sinShifts>
  <div class="centrarh1">
  <img class="imagen" src="assets/notienesturnos.svg">
</div>
</ng-template>
<button class="lctl-warnButton-s buttonli centrarh1" mat-dialog-close>Cerrar</button>

</div>