<div class="content">
  
  <div>
    <p>Editar Turnos {{name}}  {{service}}</p>
  </div>
  <div>
    <p>Horario {{limiteinicio}} a {{limitefinal}}</p>
  </div>
  <div class="info">
       <input class="lctl-input-m-Large" type="time" #shiftinicio required>
       <input class="lctl-input-m-Large" type="time" #shiftfinal required>
       <input class="lctl-input-m-Large" type="text" #paxmax>
       <button   class="lctl-warnButton-m buttonLib" (click)="addShifts(shiftinicio,shiftfinal,paxmax)">Anadir Turnos</button>       
  </div>
  
  <div>
  <mat-divider></mat-divider>
</div>

   <div *ngFor="let shift of shifts;let i =index">

      <p>{{shift.shift_from}} a {{shift.shift_to}}</p>
      <p>{{shift.pax}}</p>
          <button class="lctl-warnButton-s buttonli">Borrar</button>
      </div>

   <div>
    <button class="lctl-warnButton-s buttonli">Guardar</button>
       
   </div>

</div>