<div class="content">
  
  <div>
    <p>Editar Turnos</p>
  </div>
  <div class="info">
       <input class="lctl-input-m-Large" type="text">
       <input class="lctl-input-m-Large" type="text">
       <input class="lctl-input-m-Large" type="text">
       <button   class="lctl-warnButton-m buttonLib">Anadir Turnos</button>       
  </div>
  
  <div>
  <mat-divider></mat-divider>
</div>

   <div>

      <p>9:00 a 10:30</p>
      <p>PAX(Max4)</p>
          <button class="lctl-warnButton-s buttonli">Borrar</button>
      </div>

   <div>
    <button class="lctl-warnButton-s buttonli">Guardar</button>
       
   </div>

</div>