<div class="page">

    <div class="header">
        <div class="lctl-font-title">Mis restaurantes</div>
    </div>

    <div class="body">
        <ng-container *ngIf="restaurants; else not">
            <ng-container *ngFor="let restaurant of restaurants; let i = index ">
                <div class="lctl-bigCard" (click)="clickRestaurant(i)">
                    <div class="lctl-bigCard-banner">
                        <img src="{{restaurant.header}}">
                    </div>
                    <div class="lctl-bigCard-profile">
                        <div class="lctl-photoProfile-">
                            <img src="{{restaurant.logo}}">
                        </div>
                    </div>
                    <div class="lctl-bigCard-name">
                        <div>
                            {{restaurant.name}}
                        </div>
                    </div>
                    <div class="lctl-bigCard-content">
                        <div class="lctl-bigCard-text">
                            {{restaurant.city}}
                        </div>
                        <div class="lctl-bigCard-text">
                            {{restaurant.phone}}
                        </div>
                        <div class="lctl-bigCard-text">
                            Max pax.{{restaurant.capacity}}
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    
        <ng-template #not>
        <div><img src="">hola</div>
        </ng-template>
    </div>

</div>