.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background-color: var(--primaryColorContrast);
    & > div:first-child {
        margin-top: 40px;
    }
    & > div{
        margin: 20px;
    }
}
.targets {
    width: 100%;
    height: 100%;
    padding: 0 20px 0 20px;
}
.space {
    opacity: 0;
    height: 40px;
}