.page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background-color: var(--primaryColorContrast);
    & > div:first-child {
        margin-top: 40px;
    }
    & > div{
        margin: 20px;
    }
}