<div class="page">

    <div class="header">
        <div class="lctl-font-title">Mis restaurantes</div>
    </div>

    <div class="body">
        <ng-container *ngIf="restaurants; else not">
            <ng-container *ngFor="let restaurant of restaurants; let i = index ">
                <div class="lctl-bigCard" (click)="clickRestaurant(i)">
                    <div class="lctl-bigCard-banner">
                        <img src="assets/photos/potada2.png">
                    </div>
                    <div class="lctl-bigCard-profile">
                        <div class="lctl-photoProfile-">
                            <img src="assets/photos/logorestaurante2.png">
                        </div>
                    </div>
                    <div class="lctl-bigCard-name">
                        <div>
                            Don Paquito
                        </div>
                    </div>
                    <div class="lctl-bigCard-content">
                        <div class="lctl-bigCard-text">
                            Dirección
                        </div>
                        <div class="lctl-bigCard-text">
                            Teléfono
                        </div>
                        <div>
                            <button class="lctl-warnButtonOpposite-s">
                                Editar
                        </button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    
        <ng-template #not>
        <div><img src="">hola</div>
        </ng-template>
    </div>

</div>