.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background-color: var(--primaryColorContrast);
    background-color: blueviolet;
    & > .header {
        background-color: red;
    }
}