.maxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgb(218, 214, 214);
  background-color: var(--primaryColorOpposite);
  border: 1px solid var(--secundaryColorPush);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  height: max-content;
}
.over {
  display: flex;
  text-align: center;
  width: calc(100% - 30px);
  justify-content: space-around;
  margin: 30px 10px 40px 10px;
  & > .left, & .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & > .left {
    margin-right: 20px;
  }
  & > .right {
    margin-left: 20px;
}}
.under {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 30px);
  & > .lctl-br {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
//-----Responsive-----
@media screen and (max-width: 650px) {
  .over {
    flex-direction: column;
    & > .left {
      margin-right: 0;
      margin-bottom: 40px;
    }
    & > .right {
      margin-left: 0;
    }
  }
}