<div class="maxContainer">
    <div class="over">
        <div class="left">
            <p class="lctl-font-bold">
                Registrarse como cliente
            </p>
            <button class="lctl-button-m" routerLink="/registration-client">
                Cliente
            </button>
        </div>
        <div class="right">
            <p class="lctl-font-bold">
                Registrarse como restaurante
            </p>
            <button class="lctl-button-m" routerLink="/registration-owner">
                Empresa
            </button>
        </div>
      
    </div>
    <div class="under">
        <div class="lctl-br adjust"></div>
        <p>
            ¿Ya estás registrado?
            <a class="lctl-font-link lctl-font-bold" (click)="serviceRouter.routerLogin(4)">Inicia Sesión</a>
        </p>
    </div>  
</div>