//----------//----------//----------//----------//----------
//----------Filters nav-----
//----------//----------//----------//----------//----------
.filters {
    position: sticky;
    top: 0;
    width: min(calc(100% -20px), 1000px);
    height: max-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: var(--secundaryColor);
    & > .filterSelect{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 60px;
        padding-right: 20px;
        & > select{
            font-size: 14px;
            color: var(--secundaryColorOpposite);
            border: solid 1px var(--secundaryColorPush);
}}}
//----------//----------//----------//----------//----------
//----------Targets-----
//----------//----------//----------//----------//----------
.reservation {
    margin: 10px auto 10px auto;
    width: min(calc(100% - 20px), 1000px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: var(--primaryColorOpposite);
    border-radius: var(--borderRadiusL);
    & > .img {
        margin: 5px;
        width: 200px;
        & > .lctl-photoProfile-l {
            border-color: var(--secundaryColorPush);
            cursor: pointer;
        }
    }
    & > .info {
        width: 400px;
        overflow: hidden;
        & > div {
            text-align: justify;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    & > .buttons {
        display: flex;
        width: 200px;
        & * {
            height: 45px;
        }
    }
}