<div class="maxContainer">
  <form class="lctl-div" #userForm="ngForm" (ngSubmit)="(userForm.invalid) ? 'mal' : onSubmit()">
    <label for="photoInput">
      <ng-container *ngIf="this.userOwner.photo; else sinfoto">
      <div class="lctl-photoProfile-l">
        <img id="photo" src="{{this.userOwner.photo}}">
      </div>
    </ng-container>
    <ng-template #sinfoto>
      <div class="lctl-photoProfile-l">
        <img id="photo" src="assets/photos/logorestaurante2.png">
      </div>
    </ng-template>
    </label>
    <input id="photoInput" type="file" name="photoInput" autocomplete="off"
      accept="image/x-png,image/gif,image/jpeg" #photoOwner (change)="processFile(photoOwner)">
    <div class="lctl-font-title">Edita tu perfil</div>
    <div class="lctl-font-paragraph">La información de contacto debe estar actualizada</div>
    <input class="lctl-input-l-extraLarge" name="name" autocomplete="off" placeholder="Nombre" 
      [(ngModel)]="userOwner.name" #name="ngModel" type="text"
      required [ngClass]="{'invalidForm':userForm.submitted && name.invalid}">
    <input class="lctl-input-l-extraLarge" name="surname" autocomplete="off" placeholder="Apellidos" 
      [(ngModel)]="userOwner.surname" #surname="ngModel" type="text"
      required [ngClass]="{'invalidForm':userForm.submitted && surname.invalid}">
    <!-- <input class="lctl-input-l-extraLarge" name="phone" autocomplete="off" placeholder="Telefono" 
      [(ngModel)]="userOwner.phone" #phone="ngModel" type="tel"
      minlength="9" maxlength="9" required [ngClass]="{'invalidForm':userForm.submitted && phone.invalid}"> -->
    <input class="lctl-input-l-extraLarge" name="cif" autocomplete="off" placeholder="CIF" 
      [(ngModel)]="userOwner.cif" #cif="ngModel" type="text"
      [ngClass]="{'invalidForm':userForm.submitted && cif.invalid }" required>
      <div class="lctl-br space"></div>
    <input class="lctl-input-l-extraLarge password" name="password1" type="password" autocomplete="off"
      [(ngModel)]="checkPassword" #password1="ngModel" placeholder="Nueva contraseña"
      minlength="6" [ngClass]="{'invalidForm':userForm.submitted && password1.invalid}">
    <input class="lctl-input-l-extraLarge password" name="password2" type="password" autocomplete="off"
      [(ngModel)]="checkPassword2" #password2="ngModel" placeholder="Confirmar contraseña"
      minlength="6" [ngClass]="{'invalidForm':userForm.submitted && password2.invalid}">
    <div class="messageInvalidform">
      <div>
        {{message}}
      </div>
    </div>
    <div class="message2">Confirma tu contraseña</div>
    <input class="lctl-input-l-extraLarge password" name="password" type="password" autocomplete="off"
      [(ngModel)]="pass" #password="ngModel" placeholder="Contraseña"
      minlength="6" required [ngClass]="{'invalidForm':userForm.submitted && password.invalid}">
    <div class="buttons">
      <div class="lctl-button-m">Cancelar</div>
      <button type="submit" class="lctl-button-m">Guardar</button>
    </div>
  </form>
</div>