
.maxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secundaryColor);
    background-color: #ff0000;
    .img {
        width: 600px;
        max-width: 90vw;
        max-height: 520px;
        background-color: yellow;
        img {
            width: 100%;
        }
    }
    .form {
        display: block;
        width: 600px;
        height: 520px;
        background-color: yellowgreen;
    }
}