<div class="lctl-navContainer">
    <button class="lctl_navSection lctl-navToggle2">
        <mat-icon class="lctl-toggleNavbarButton">menu</mat-icon>
    </button>
    <button class="lctl-navItems">
        <div class="lctl-navAfterButton">
            <button class="lctl_navSection lctl-navRightItems2">
                <div class="lctl-navAfterButton2">
                    <div class="lctl-navElement" (click)="serviceRouter.routerLogin(5)"
                        [ngClass]="{'lctl-navSelect': serviceRouter.navLogin === 5}">
                        Regístrate
                    </div>
                    <div class="lctl-navElement" (click)="serviceRouter.routerLogin(4)"
                        [ngClass]="{'lctl-navSelect': serviceRouter.navLogin === 4}">
                        Ingresa
                    </div>
                </div>
            </button>
            <div class="lctl_navSection lctl-navLeftItems">
                <!-- <div class="lctl-navElement" (click)="serviceRouter.routerLogin(3)"
                    [ngClass]="{'lctl-navSelect': serviceRouter.navLogin === 3}">
                    ¿Cómo funciona?
                </div> -->
                <div class="lctl-navElement" (click)="serviceRouter.routerLogin(2)"
                [ngClass]="{'lctl-navSelect': serviceRouter.navLogin === 2}">
                  Presentación
                </div>
                <div class="lctl-navElement" (click)="serviceRouter.routerLogin(1)"
                    [ngClass]="{'lctl-navSelect': serviceRouter.navLogin === 1}">
                    Contacto
                </div>
            </div>
            <button class="lctl-navHidden"></button>
        </div>
    </button>
    <div class="lctl_navSection lctl-navHome" (click)="serviceRouter.routerLogin()">
        <img src="../../../../assets/LogoMiReserva.svg">
    </div>
</div>