<div class="view">

    <div class="header">
        <!-- -----Navbar----- -->
        <ng-container *ngIf="!serviceLogin.users.customer_id &&
            !serviceLogin.users.restaurant_id && !serviceLogin.users.owner_id">
            <app-navbarLogin>
            </app-navbarLogin>
        </ng-container>
        
        <ng-container *ngIf="serviceLogin.users.customer_id">
            <app-navbarClient>
            </app-navbarClient>
        </ng-container>
        
        <ng-container *ngIf="serviceLogin.users.restaurant_id">
            <app-navbarUserRestaurant>
            </app-navbarUserRestaurant>
        </ng-container>

        <ng-container *ngIf="serviceLogin.users.owner_id">
            <app-navbarOwner >
            </app-navbarOwner>
        </ng-container>
        
    </div>
    <div class="main">
        <!-- -----Router-outlet----- -->
        <router-outlet></router-outlet>
        <!-- <app-client-doReservationHeader></app-client-doReservationHeader> -->
    </div>

    <!-- -----Footer----- -->
    <div class="footer">

        <ng-container *ngIf="router.url == '/log-in' || router.url == '/registration' ||
            router.url == '/registration-owner' || router.url == '/registration-client' ||
            router.url == '/reservation1' || router.url == '/reservation2' ||
            router.url == '/edit-client' || router.url == '/reservations-list-client' ||
            router.url == '/search' || router.url == '/'">
            <app-footer>
            </app-footer>
        </ng-container>
        
    </div>
</div>
