<div class="view">

    <!-- -----Navbars----- -->
    <div class="header">
        <app-navbarClient></app-navbarClient>
    </div>
    <!-- -----Router-outlet----- -->
    <!-- -----Components----- -->
    <div class="main">
        
        <!-- <app-restaurant-owner-restaurants></app-restaurant-owner-restaurants> -->
        <!-- <app-restaurant-owner-CreateRestaurantHeader></app-restaurant-owner-CreateRestaurantHeader>  -->
        <!-- <app-restaurant-owner-CreateRestaurant3></app-restaurant-owner-CreateRestaurant3> -->
       <!-- <app-restaurant-owner-CreateRestaurant1></app-restaurant-owner-CreateRestaurant1> -->
       <!--  <app-restaurant-owner-CreateRestaurant2></app-restaurant-owner-CreateRestaurant2> -->
       <app-client-search></app-client-search>

        <router-outlet></router-outlet>

    </div>
    <!-- -----Footer----- -->
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
