.container{
    width: 100%;
    margin-top: -300px;
}

.turns{
   display: flex; 
   align-items: center;
   margin-top: 50px;
   
}

.time{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

input{
    margin-left: 45px;
}

button{
    margin-left: 15px;
    margin-top: -2px;
}

select{
    margin-left: 15px;
}

.switchturn{
    
    margin-top: -10px;
    
}

.switch{
    margin-top: 20px;
}

p{
    margin-top: 20px;
    margin-left: 20px;
    
}

.addtime{
    margin-top: 40px;
   
}

.texttime{
    margin-top: 5px;

}

ul{
    margin-top: 65px;
    display: flex;
    align-items: center;
    list-style: none;
}

li{
    margin-left: 100px;
}

.buttonli{
    margin-left: 10px;
    
}

    



