    <div class="containerr">

<div class="days">
      <mat-tab-group>
        <mat-tab class="lunes" label="Lunes">
           
            <div class="lctl-leftElements open">
            <label>Abierto</label> 
            <mat-slide-toggle></mat-slide-toggle> 
            </div>

            <div class="lctl-br separador"></div>


            <div class="turns">
                <div class="Turns">

                    <div class="lctl-centerElements turnbotton">
                    <label>Desayunos</label>
                    <mat-slide-toggle></mat-slide-toggle> 
                    </div>

                    <div class="lctl-rightElements">
                        
                        <label>Horario de desayuno</label>
                        <select class="lctl-input-m" name="">
                            <option>8:00</option>
                            <option>9:00</option>
                            <option>10:00</option>
                            </select>
                        <p>a</p>
                        <select class="lctl-input-m" name="">
                        <option>8:00</option>
                        <option>9:00</option>
                        <option>10:00</option>
                        </select>
                       <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                    </div>


                </div>

                <div class="Turns">

                    <div class="lctl-centerElements turnbotton">
                    <label>Almuerzo</label>
                    <mat-slide-toggle></mat-slide-toggle> 
                    </div>

                    <div class="lctl-rightElements">
                        
                        <label>Horario de Almuerzo</label>
                        <select class="lctl-input-m" name="">
                            <option>8:00</option>
                            <option>9:00</option>
                            <option>10:00</option>
                            </select>
                        <p>a</p>
                        <select class="lctl-input-m" name="">
                        <option>8:00</option>
                        <option>9:00</option>
                        <option>10:00</option>
                        </select>
                       <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                    </div>
                    </div>

                    <div class="Turns">

                        <div class="lctl-centerElements turnbotton">
                        <label>Cena</label>
                        <mat-slide-toggle></mat-slide-toggle> 
                        </div>
    
                        <div class="lctl-rightElements">
                            
                            <label>Horario de Cena</label>
                            <select class="lctl-input-m" name="">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                </select>
                            <p>a</p>
                            <select class="lctl-input-m" name="">
                            <option>8:00</option>
                            <option>9:00</option>
                            <option>10:00</option>
                            </select>
                           <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                        </div>
                        </div>

                </div>
            
        </mat-tab>

        <!-- MARTES -->

        <mat-tab label="Martes">
            <div class="lctl-leftElements open">
                <label>Abierto</label> 
                <mat-slide-toggle></mat-slide-toggle> 
                </div>
    
                <div class="lctl-br separador"></div>
    
    
                <div class="turns">
                    <div class="Turns">
    
                        <div class="lctl-centerElements turnbotton">
                        <label>Desayunos</label>
                        <mat-slide-toggle></mat-slide-toggle> 
                        </div>
    
                        <div class="lctl-rightElements">
                            
                            <label>Horario de desayuno</label>
                            <select class="lctl-input-m" name="">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                </select>
                            <p>a</p>
                            <select class="lctl-input-m" name="">
                            <option>8:00</option>
                            <option>9:00</option>
                            <option>10:00</option>
                            </select>
                           <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                        </div>
    
    
                    </div>
    
                    <div class="Turns">
    
                        <div class="lctl-centerElements turnbotton">
                        <label>Almuerzo</label>
                        <mat-slide-toggle></mat-slide-toggle> 
                        </div>
    
                        <div class="lctl-rightElements">
                            
                            <label>Horario de Almuerzo</label>
                            <select class="lctl-input-m" name="">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                </select>
                            <p>a</p>
                            <select class="lctl-input-m" name="">
                            <option>8:00</option>
                            <option>9:00</option>
                            <option>10:00</option>
                            </select>
                           <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                        </div>
                        </div>
    
                        <div class="Turns">
    
                            <div class="lctl-centerElements turnbotton">
                            <label>Cena</label>
                            <mat-slide-toggle></mat-slide-toggle> 
                            </div>
        
                            <div class="lctl-rightElements">
                                
                                <label>Horario de Cena</label>
                                <select class="lctl-input-m" name="">
                                    <option>8:00</option>
                                    <option>9:00</option>
                                    <option>10:00</option>
                                    </select>
                                <p>a</p>
                                <select class="lctl-input-m" name="">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                </select>
                               <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                            </div>
                            </div>
    
                    </div>

        </mat-tab>

        <!-- MIERCOLES -->

        <mat-tab label="Miercoles"> 
            <div class="lctl-leftElements open">
                <label>Abierto</label> 
                <mat-slide-toggle></mat-slide-toggle> 
                </div>
    
                <div class="lctl-br separador"></div>
    
    
                <div class="turns">
                    <div class="Turns">
    
                        <div class="lctl-centerElements turnbotton">
                        <label>Desayunos</label>
                        <mat-slide-toggle></mat-slide-toggle> 
                        </div>
    
                        <div class="lctl-rightElements">
                            
                            <label>Horario de desayuno</label>
                            <select class="lctl-input-m" name="">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                </select>
                            <p>a</p>
                            <select class="lctl-input-m" name="">
                            <option>8:00</option>
                            <option>9:00</option>
                            <option>10:00</option>
                            </select>
                           <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                        </div>
    
    
                    </div>
    
                    <div class="Turns">
    
                        <div class="lctl-centerElements turnbotton">
                        <label>Almuerzo</label>
                        <mat-slide-toggle></mat-slide-toggle> 
                        </div>
    
                        <div class="lctl-rightElements">
                            
                            <label>Horario de Almuerzo</label>
                            <select class="lctl-input-m" name="">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                </select>
                            <p>a</p>
                            <select class="lctl-input-m" name="">
                            <option>8:00</option>
                            <option>9:00</option>
                            <option>10:00</option>
                            </select>
                           <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                        </div>
                        </div>
    
                        <div class="Turns">
    
                            <div class="lctl-centerElements turnbotton">
                            <label>Cena</label>
                            <mat-slide-toggle></mat-slide-toggle> 
                            </div>
        
                            <div class="lctl-rightElements">
                                
                                <label>Horario de Cena</label>
                                <select class="lctl-input-m" name="">
                                    <option>8:00</option>
                                    <option>9:00</option>
                                    <option>10:00</option>
                                    </select>
                                <p>a</p>
                                <select class="lctl-input-m" name="">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                </select>
                               <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                            </div>
                            </div>
    
                    </div>
        </mat-tab>

        <!-- JUEVES -->

        <mat-tab label="Jueves"> 
            <div class="lctl-leftElements open">
                <label>Abierto</label> 
                <mat-slide-toggle></mat-slide-toggle> 
                </div>
    
                <div class="lctl-br separador"></div>
    
    
                <div class="turns">
                    <div class="Turns">
    
                        <div class="lctl-centerElements turnbotton">
                        <label>Desayunos</label>
                        <mat-slide-toggle></mat-slide-toggle> 
                        </div>
    
                        <div class="lctl-rightElements">
                            
                            <label>Horario de desayuno</label>
                            <select class="lctl-input-m" name="">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                </select>
                            <p>a</p>
                            <select class="lctl-input-m" name="">
                            <option>8:00</option>
                            <option>9:00</option>
                            <option>10:00</option>
                            </select>
                           <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                        </div>
    
    
                    </div>
    
                    <div class="Turns">
    
                        <div class="lctl-centerElements turnbotton">
                        <label>Almuerzo</label>
                        <mat-slide-toggle></mat-slide-toggle> 
                        </div>
    
                        <div class="lctl-rightElements">
                            
                            <label>Horario de Almuerzo</label>
                            <select class="lctl-input-m" name="">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                </select>
                            <p>a</p>
                            <select class="lctl-input-m" name="">
                            <option>8:00</option>
                            <option>9:00</option>
                            <option>10:00</option>
                            </select>
                           <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                        </div>
                        </div>
    
                        <div class="Turns">
    
                            <div class="lctl-centerElements turnbotton">
                            <label>Cena</label>
                            <mat-slide-toggle></mat-slide-toggle> 
                            </div>
        
                            <div class="lctl-rightElements">
                                
                                <label>Horario de Cena</label>
                                <select class="lctl-input-m" name="">
                                    <option>8:00</option>
                                    <option>9:00</option>
                                    <option>10:00</option>
                                    </select>
                                <p>a</p>
                                <select class="lctl-input-m" name="">
                                <option>8:00</option>
                                <option>9:00</option>
                                <option>10:00</option>
                                </select>
                               <button class="buttonadd lctl-button-m buttonModify">Guardar y editar turnos</button>
                            </div>
                            </div>
    
                    </div>
        </mat-tab>
        <mat-tab label="Viernes"> Content 2 </mat-tab>
        <mat-tab label="Sábado"> Content 3 </mat-tab>
        <mat-tab label="Domingo"> Content 3 </mat-tab>

      </mat-tab-group>

     
    
    
</div>


    </div>
    
