<div class="modifyNav">
    <div id="info"><a>Local</a></div>
    <div id="dist"><a>Mesas</a></div>
    <div id="horarios"><a>Horas</a></div>
</div>

<div class="content">

    <mat-tab-group class="lctl-mat-tab-group"><ng-container *ngFor="let str of structure">
        
        <mat-tab label="{{str.day}}">

            <div class="section header">

                <div class="left">
                    <div [ngClass]="{'hide': !openClose.checked}">Abierto</div>
                    <div [ngClass]="{'hide': openClose.checked}">Cerrado</div>
                    <mat-slide-toggle class="lctl-ng-matSlideToggle" checked="true" #openClose (change)="openCloseDay($event,str.day,openClose,des,al,cen)"></mat-slide-toggle> 
                </div>
                <!-- Estos elementos son sólo para diseño -->
                <div class="right" style="display: none;">
                    <div class="selects">
                        <div class="time">Horario de desayuno</div>
                        <select class="lctl-cellSelect-large">
                        </select>
                        <div class="a">a</div>
                        <select class="lctl-cellSelect-large">
                        </select>
                    </div>
                    <div class="button">
                        <button class="lctl-warnButtonOpposite-s">
                            Guardar y crear turnos
                        </button>
                    </div>
                </div>
                <!-- Fin -->

            </div>

            <div class="close" [ngClass]="{'hide': openClose.checked}"><img class="closeImage" src="assets/close.svg"></div>
               
            <div class="section" [ngClass]="{'hide': !openClose.checked}" *ngFor="let day of days">
            
                <div class="left">
                    <div style="transform: translateX(-2px)">{{day.name}}</div>
                    <mat-slide-toggle #des (change)="turn($event,str.dayI,day.turn,input1,input2,button)"></mat-slide-toggle> 
                </div>
                
                <div class="right" (change)="checkIt(input1,input2)">
                    <div class="selects">
                        <div class="time" [ngClass]="{'disabled': input1.disabled}">Horario de {{day.name2}}</div>
                        <select disabled #input1 class="lctl-cellSelect-large" name="" required (change)="changeInput(input1,input2)">
                            <option selected="true" disabled="disabled">Inicio</option>
                            <option *ngFor="let horario of day.horarios; let last = last" [disabled]="last">{{horario.horario}}</option>
                        </select>
                        <div class="a" [ngClass]="{'disabled': input1.disabled}">a</div>
                        <select disabled #input2 class="lctl-cellSelect-large" name="" required (change)="changeInput(input1,input2)">
                            <option selected="true" disabled="disabled">Fin</option>
                            <option *ngFor="let horario of day.horarios; let first = first" [disabled]="first">{{horario.horario}}</option>
                        </select>
                    </div>
                    <div class="button">
                        <button type="submit" disabled class="lctl-warnButtonOpposite-s" [ngClass]="{'disabled': input1.disabled}"
                            (click)="setTimes(input1,input2,str.dayI,day.turn)" #button>
                            Guardar y crear turnos
                        </button>
                    </div>
                </div>

            </div>
                    
        </mat-tab>
    
    </ng-container></mat-tab-group>

    <div class="pass">
        <button class="lctl-button-m " routerLink="/restaurants-list">Finalizar</button>
    </div>

</div>