//-----//-----//-----//-----//-----
//-----modifyNav-----
//-----//-----//-----//-----//-----
.modifyNav { 
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden; 
    padding: 0;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
  .modifyNav > div { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    height: 100%;
    width: 100%;
    background-color: var(--secundaryColorPush);
    position: relative;
    & a {
      color: var(--secundaryColor);
      font-weight: var(--fontWidthBolder);
      transform: translateX(-15px);
      cursor: default;
  }}
  .modifyNav div:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid var(--secundaryColorPush);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 1;
    transform: translateX(-15px);
  } 
  .modifyNav div:before {
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid var(--secundaryColor);
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    margin-left: 1px;
    left: 100%;
    z-index: 1;
    transform: translateX(-15px);
  }
  .modifyNav div:last-child::before {
    display: none;
  }
  #horarios {
    background-color: var(--primaryColor);
    &::after {
      border-left-color: var(--primaryColor);
    }
  }
  @media screen and (max-width: 425px) {
    .modifyNav div:after, .modifyNav div:before { 
      display: none;
  }}




.containerr{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  
}
.open{
   
    & * {
     margin: 10px;
     padding-left: 20px;
    }
}
button{
    margin-left: 15px;
    margin-top: -2px;
}
.buttonModify{
    font-size: var(--fontSizeS);
    width: 250px;
    text-transform: none;
}


select{
    margin-left: 15px;
}

 p{
    margin-top: 20px;
    margin-left: 20px;
    
} 

.Turns{
    display: flex;
    & > div {
        align-items: center;
     min-width:  max-content;

    }
}

.turnbotton{
    & * { padding-right: 15px;}
}

.imagencerrado{
    
    display:flex;
    align-items: center;
    justify-content: center;
}

.close
{
    height: 400px;
    padding-top: 20px;
    opacity: 1!important;
}


input{
    margin-left: 20px;
    margin-top: 20px;
}
.form1{
    width: 100%;
    display: flex;
    justify-content: center;
    

}

select{
    margin-left: 20px;
    margin-top: 20px;
}

.button{
    width: 87%;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

}
  .caution{
    border:var(--secundaryColorContrast) solid 2px;
    background-color: lightgrey;
  }
  .caution::placeholder{
    color:var(--secundaryColorContrast);

  }
  

  .encolumna{
      display:flex;
      flex-direction: column;

  }

  .dosendos{
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
  }

  