<!-- <nav class="lctl-toggleNavbar">
    <input id="lctl-toggleNavbarLabel" type="checkbox" class="lctl-toggleNavbarCheckbox">
    <div class="lctl-toggleNavbarPrincipal">
        <img a routerLink="/" routerLink="/log-in"
            class="lctl-toggleNavbarIcon" src="../../../../assets/LogoMiReserva.svg">
        <label for="lctl-toggleNavbarLabel" class="lctl-toggleNavbarLabel">
            <mat-icon class="lctl-toggleNavbarButton">
                menu
            </mat-icon>
        </label>
    </div>
    <nav class="lctl-toggleNavbarLeftElements">
        <a routerLink="/" class="lctl-toggleNavbarElement">
            ¿Cómo funciona?
        </a>
        <a routerLink="/" class="lctl-toggleNavbarElement">
            Contacto
        </a>
    </nav>
    <nav class="lctl-toggleNavbarRightElements">
        <a routerLink="/registration" class="lctl-toggleNavbarElement">
            Regístrate
        </a>
        <a routerLink="/log-in" class="lctl-toggleNavbarElement">
            Ingresa
        </a>
    </nav>
</nav> -->

<div class="lctl-navContainer">
    <button class="lctl_navSection lctl-navToggle2">
        <mat-icon class="lctl-toggleNavbarButton">menu</mat-icon>
    </button>
    <button class="lctl-navItems">
        <div class="lctl-navAfterButton">
            <button class="lctl_navSection lctl-navRightItems2">
                <div class="lctl-navAfterButton2">
                    <div class="lctl-navElement" (click)="toRegister()">
                        Regístrate
                    </div>
                    <div class="lctl-navElement" (click)="toLogIn()">
                        Ingresa
                    </div>
                </div>
            </button>
            <div class="lctl_navSection lctl-navLeftItems">
                <div class="lctl-navElement" (click)="toHowItWorks()">
                    ¿Cómo funciona?
                </div>
                <div class="lctl-navElement" (click)="toContact()">
                    Contacto
                </div>
            </div>
            <button class="lctl-navHidden"></button>
        </div>
    </button>
        <div class="lctl_navSection lctl-navHome" (click)="toHome()">
            <img src="../../../../assets/LogoMiReserva.svg">
    </div>
</div>