.img {
    padding-bottom: 0;
    padding-top: 0;
}
.img:hover {
    background: none;
}
.left {
}
.right {
    width: max-content;
    flex-wrap: nowrap;
}
@media screen and (max-width: 900px) {
    .left {
        justify-content: space-around;
    }
    .right {
        display: none;
    }
}
@media screen and (max-width: 603px) {
    .left {
        flex-direction: column;
    }
}