<nav class="lctl-navbar responsiveNav">
    <div class="lctl-navbar left">
        <a routerLink="/" class="img leftItem" routerLink="/log-in">
        <img src="../../../../assets/LogoMiReserva.svg" alt="Logo empresa">
        </a>
        <a routerLink="/log-in" class="leftItem">Home</a>
        <a routerLink="/" class="leftItem">Como Funciona</a>
        <a routerLink="/" class="leftItem">Contacto</a>
    </div>

    <div class="lctl-rightElements right">
        <a routerLink="/registration">Registrate</a>
        <a routerLink="/log-in">Ingresa</a>
    </div>
</nav>
<!-- <nav class="Rnavbar">
    <div class="RnavbarWebSite">
        img left
    </div>
    <div class="RnavbarButton Rnavbar-toggle">
        botón
    </div>
    <nav class="RnavbarLeftElements">
        <div class="RnavbarElement">
            link left
        </div>
        <div class="RnavbarElement">
            link left
        </div>
        <div class="RnavbarElement">
            link left
        </div>
    </nav>
    <nav class="RnavbarRightElements">
        <div class="RnavbarElement">
            link right
        </div>
        <div class="RnavbarElement">
            link right
        </div>
    </nav>
</nav> -->