// .img {
//     padding-bottom: 0;
//     padding-top: 0;
// }
// .img:hover {
//     background: none;
// }
// .left {
// }
// .right {
//     width: max-content;
//     flex-wrap: nowrap;
// }
// .show {
//     display: none;
// }
// @media screen and (max-width: 900px) {
//     .left {
//         justify-content: space-around;
//     }
//     .right {
//         display: none;
//     }
// }
// @media screen and (max-width: 603px) {
//     .left {
//         justify-content: center;
//     }
//     .leftItem {
//         background-color: aqua;
//         width: 100%;
//         font-size: var(--fontSizeS);
//         height: 100%;
//     }
//     .responsiveNav {
//         height: 100%;
//         flex-direction: column;
//         background-color: red;
//     }
// }

.Rnavbar {
    display: flex;
    background-color: violet;
    padding: 10px;
    color: white;
}
.RnavbarLeftElements, .RnavbarRightElements {
    display: flex;
}
.RnavbarRightElements {
    margin-left: auto;
}
.RnavbarElement {
    padding: 5px;
}
@media only screen and (max-width: 768px) {
    .RnavbarLeftElements,
    .Rnavbar {
      flex-direction: column;
    }
    .RnavbarLeftElements {
      display: none;
    }
    .RnavbarRightElements {
      margin-left: 0;
    }
  }