<nav class="lctl-toggleNavbar">
    <div class="lctl-toggleNavbarPrincipal">
        <img a routerLink="/" routerLink="/log-in"
            class="lctl-toggleNavbarIcon" src="../../../../assets/LogoMiReserva.svg">
        <mat-icon (click)="show()" class="lctl-toggleNavbarButton">menu</mat-icon>
    </div>
    <nav class="lctl-toggleNavbarLeftElements hide">
        <a routerLink="/" class="lctl-toggleNavbarElement">
            ¿Cómo funciona?
        </a>
        <a routerLink="/" class="lctl-toggleNavbarElement">
            Contacto
        </a>
    </nav>
    <nav class="lctl-toggleNavbarRightElements hide">
        <a routerLink="/registration" class="lctl-toggleNavbarElement">
            Regístrate
        </a>
        <a routerLink="/log-in" class="lctl-toggleNavbarElement">
            Ingresa
        </a>
    </nav>
</nav>