<div class="lctl-div-m altura">
    
    
    <div class="lctl-br masgrande">
    </div>
    <div class="lctl-br masgrande">
    </div>
    <div class="centrado">
        <p class="lctl-font-title">JUEVES 20 AGOSTO 2020</p>
    </div>
    <div class="izquierda">
        <p class="lctl-font-paragraph">Nº de personas (incluidos niños)</p> 
    </div>
    
    <div class="ordenar">
        <div class="lctl-cellInput-large-center conespacios">1</div>
        <div class="lctl-cellInput-large-center conespacios">2</div>
        <div class="lctl-cellInput-large-center conespacios">3</div>
        <div class="lctl-cellInput-large-center conespacios">4</div>
        <div class="lctl-cellInput-large-center conespacios">5</div>
        <div class="lctl-cellInput-large-center conespacios">6</div>
        <div class="lctl-cellInput-large-center conespacios">7</div>
        <div class="lctl-cellInput-large-center conespacios">+</div>

    </div>
    <div class="lctl-br masgrande">
    </div>
    <div class="lctl-br masgrande">
    </div>
    <div class="derecha">
    <button class="lctl-button-m">Siguiente</button>
    </div>    
   

        
</div>
