.page {
    width: 100%;
}
.content {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}
.title{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content: center;
    width:100%;
}
.component {
    width: 400px;
    display: flex;
}
.component:first-child {
    margin-bottom: 30px;
    max-width: 400px;
    min-width: 300px;
    border: none;
}
.component:nth-child(2) {
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    min-width: 300px;
    background-color: var(--secundaryColor);
}
.margin {
    margin: 10px 0 10px 0;
}
.table{
    padding-left:10px;
    padding-right:10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    & > .lctl-cellButton {
        margin: 10px;
        width: 40px;
    }
}
.input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & * {
        padding: 0 5px 0 5px;
        background-color: red;
    }
    & input {
        outline: none;
        width: 60px;
    }
}
.mid {
    width: max-content;
}
.buttoms {
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
@media screen and (min-width: 1000px) {
    .buttoms {
        margin-right: 50px;
}}
@media screen and (max-width: 600px) {
    .buttoms {
        justify-content: center;
}}