<!-- <ng-container *ngIf="reservations == []"></ng-container>
    <h3 class="lctl-centerElements">No tienes ninguna reserva activa</h3>    -->
<div class="fatherfiltro">

<div class="filtroselect">
    <select name="select" class="lctl-cellSelect-extraLarge">
        <option value="value2" selected>Filtrar por</option>
        <option value="value1">Eliminadas</option>
        <option value="value3">Confirmadas</option>
        <option value="value3">Estado</option>
      </select>      
</div>
<div class="lctl-br modify"></div> 

</div>
<ng-container *ngIf="reservations != null"></ng-container>
<div *ngFor="let reservation of reservations; let i = index"  class="lctl-centerElements father">
    <!-- <div class="lctl-br modify"></div> -->
    <div class="lctl-centerElements row son">
        <div class="pic">
            <a routerLink="/" class="img">
                <img src="" alt="" class="lctl-photoProfile-s">
            </a>
        </div>
            
        <div class="info">

            <!-- <p>ID: {{reservation.id_reservation }}</p> -->
            <p>Dia: {{reservations[i].date}} |
               Horario: {{reservations[i].time}}</p> 
            <p>Observaciones: {{reservations[i].obs}}</p> 
            <p>Numero de personas: {{reservations[i].pax}}</p>  
            <p>Restaurant: {{reservations[i].id_restaurant}}</p>
           
        </div>

        <div class="buttons">
            <button class="lctl-button-s buttonRes" >Reservada</button>
            <button (click)="openDialog()" class="lctl-button-s" >Eliminar</button>
           
            <!-- (click)="deleteReservation(reservations[i].id_reservation)"  -->
            <!-- EL ELIMINAR RESERVA SE VA A HACER CON EL SERVICIO DENTRO DEL MODAL -->
        </div>
    </div>   
    
     
        <div class="lctl-br modify">
        </div> 
        <div class="lctl-br space" >
        </div> 
</div>