.space{
    opacity: 0;
    height: 20px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    justify-content: space-around;
    width: 80%;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.modify{
    width: 85%;
}