<div class="filters">
    <div class="filterSelect">
        <select name="select" class="lctl-cellSelect-extraLarge" #selected (click)="cambiarSelect(selected)">
            <ng-container *ngFor="let option of select; let i = index">
                <option value="{{option.value}}"*ngIf="option.value == 'todas'" selected>{{option.name}}</option>
                <option value="{{option.value}}"*ngIf="option.value != 'todas'">{{option.name}}</option>
            </ng-container>
        </select>
    </div>
    <div class="lctl-br"></div>
</div>


<ng-container *ngFor="let reservation of reservations; let i = index"  class="lctl-centerElements father">
        <ng-container *ngIf="reservations.status == elSelect || elSelect == 'todas'">

        <div class="reservation">
            <div class="img">
                <div class="lctl-photoProfile-m" (click)="modalRest(this.restaurantsReservated[i])">
                    <img *ngIf="this.restaurantsReservated[i].logo; else not"
                        src="{{this.restaurantsReservated[i].logo}}">
                    <ng-template #not>
                        <img src="assets/photos/logorestaurante2.png">
                    </ng-template>
                </div>
            </div>
            <div class="info">
                <div>Restaurant: {{this.restaurantsReservated[i].name}}</div>
                <div>Horario: {{reservations[i].hour}}</div>
                <div>Dia: {{reservations[i].changedDayName}} {{reservations[i].day}} de {{reservations[i].changedMonth}} {{reservations[i].year}} </div>
            </div>
            <div class="buttons">
                <button disabled class="lctl-warnButtonOpposite-s"
                    [ngClass]="{'class': true}">
                    {{reservations[i].status}}
                </button>
                <button (click)="openDialog(reservation)" class="lctl-warnButton-s" >Cancelar</button>
            </div>
        </div>

    </ng-container>
</ng-container>