.content {
    width: 700px;
    max-width: 100%;
    min-height: 280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secundaryColorPush);
    border-radius: var(--borderRadiusL);
    background-color: var(--primaryColorOpposite);
    & > .contentTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px 0 5px;
        width: 100%;
        min-height: 40px;
        background-color:var(--secundaryColorPush);  
        cursor: default; 
        & > div {
            color: var(--primaryColorOpposite);
            text-align: center;
            font-weight: var(--fontWidthBolder);
    }}
    & > .infoR {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        & > .map {
            width: 100%;
            height: 210px;
            background-color: var(--secundaryColor);
            border-top: 1px solid var(--secundaryColorPush);
            width: 100%;
        }
        & > .info {
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 210px;
            width: calc(100% - 20px);
            overflow: hidden;
            & > .name {
                text-align: justify;
                width: 100%;
                display: flex;
                height: 54px;
                overflow: hidden;
                font-weight: var(--fontWidthBolder);
                padding-right: 15px;
                padding-left: 10px;
            }
            & > .options {
                position: relative;
                height: 40px;
                display: flex;
                justify-content: space-around;
                align-items: center;
        }
    }}
    & > .buttons {
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 250px;
        height: 60px;
        & > .lctl-warnButton-s  {
            width: 200px;
}}}
@media screen and (max-width: 450px) {
    .content{
        & > .contentTitle {
            & > div {
                font-size: var(--fontSizeS);
            }
        }
        & > .map {
        }
        & > .info {
        font-size: var(--fontSizeS);
        }
        & > .buttons {
}}}




.lctl-simpleCard-info {

    & > .lctl-simpleCard-title {

    }
    & > .lctl-simpleCard-paragraphs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        & > div {
            width: 100%;
            text-align: justify;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 5px 15px 5px 10px;
        }
        & > .lctl-simpleCard-firstParagraph {
        }
        & > .lctl-simpleCard-secondParagraph {
            justify-self: flex-end;
        }
        & >  {
            font-size: var(--fontSizeS);
}}}