//----------//----------//----------//----------//----------//----------
//-----Info restaurant-----
//----------//----------//----------//----------//----------//----------
.head {
    background-color: var(--secundaryColor);
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    & > .aligns {
        width: 15%;
        min-width: 62px;
        max-width: 150px;
        min-height: 62px;
        margin: auto;
        margin-top: max(-8%, -8vw);
        z-index: 1;
        & > .logo {
            width: 100%;
            height: 100%;
            border: 2px solid var(--secundaryColorPush);
            & > img {
                width: 100%;
    }}}
        .img {
            max-width: min(100%, 1440px);
            max-height: 274px;
            margin: auto;
            text-align: center;
            & > .imgIn {
                max-width: min(100%, 1440px);
                max-height: 274px;
}}}
//-----//-----//-----//-----//-----
//-----Buttons-----
//-----//-----//-----//-----//-----
.pass {
    position: absolute;
    bottom: 60px;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: min-content;
    height: 52px;
    padding-right: 50px;
    padding-left: 4px;
    background-color: var(--primaryColorOpposite);
    box-shadow: 0 0 30px -3.5px var(--secundaryColorLink);
    border-top-left-radius: var(--borderRadiusL);
    border-bottom-left-radius: var(--borderRadiusL);
  }
  @media screen and (max-width: 768px) {
    .pass {
        bottom: 52px;
        padding: 0;
        width: 100%;
        box-shadow: initial;
        border-radius: 0;
        justify-content: center;
        & > button {
  }}}




.title {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px 20px;
}
.space {
    opacity: 0;
    height: 20px;
}
.w {
    max-width: 1500px;
    min-width: 250px;
}
.headMal {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.page {
    width: 100%;
    min-height: 200px;
}
.schedules {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1000px;
    min-width: 300px;
    & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    & > div {
        margin: 10px 5px 10px 5px;
    }
}}
.end {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.comment {
    height: 120px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .com {
        margin: auto;
        display: block;
        min-width: 300px;
        height: 85px;
        outline: none;
        border: 1px solid var(--secundaryColorOpposite);
        border-radius: var(--borderRadiusL);
        font-size: var(--fontSizeS);
        padding: 10px;
    }
    & .obs {
        text-align: justify;
        display: block;
        margin: auto;
        min-width: 300px;
        font-weight: var(--fontWidthBolder);
    }
}