.head {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    background-color: red;
    text-align: centers;
}
.page {
    width: 100%;
    min-height: 400px;
}