<app-client-doReservationHeader></app-client-doReservationHeader>
<div class="head">
    <div class="title">
        <div class="lctl-br w"></div>
        <div class="lctl-br space"></div>
        <p class="lctl-font-title">Jueves 20 2020</p>
        <div class="lctl-br w"></div>
        <div class="lctl-br space"></div>
    </div>
    <p class="lctl-font-title">Horario</p>
</div>
<div class="page">
    <div class="schedules">
        <div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
            <div class="lctl-cellButton">
                12:30 a 13.30
            </div>
        </div>
    </div>
    <div class="end">
        <div class="comment">
            <p class="obs">Observaciones:</p>
            <textarea class="com"></textarea>
        </div>
        <div class="buttoms">
                <button class="lctl-button-m">Anterior</button>
                <button class="lctl-button-m">Siguiente</button>
        </div>
    </div>
</div>