<app-client-doReservationHeader></app-client-doReservationHeader>
<div class="head">
    <div class="title">
        <div class="lctl-br w"></div>
        <div class="lctl-br space"></div>
        <p class="lctl-font-title">
            {{this.calendarService.changedDayName}}
            {{this.calendarService.getNewDate().dayNum}}
            de
            {{this.calendarService.changedMonth}}
            {{this.calendarService.getNewDate().year}}
        </p>
        <div class="lctl-br w"></div>
        <div class="lctl-br space"></div>
    </div>
    <p class="lctl-font-title">Horario</p>
</div>
<div class="page">
    <div class="schedules">
        <div>
            <ng-container *ngFor="let shift of availableShifts; let i = index">
                <div class="lctl-cellButton" id="turnos" [ngClass]="{'active': this.selectedShiftId==availableShifts[i].shift_id}" 
                (click)="shiftId(availableShifts[i].shift_id)" >
                    {{availableShifts[i].shift_from}} a {{availableShifts[i].shift_to}}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="end">
        <div class="comment" >
            <p class="obs">Observaciones:</p>
            <textarea class="com" id="obs"></textarea>
        </div>
        <div class="buttoms">
                <button class="lctl-button-m" routerLink="/reservation1">Anterior</button>
                <button (click)="openDialog()" class="lctl-button-m">Siguiente</button>
        </div>
    </div>
</div>