<div class="imyourfather">
    <div class="background">
            <div class="redShape"></div>
    </div>

    <div class="lukeNooo">
        <!-- <ng-container *ngFor="let card of cards"> -->
        <div class="target">
            <div class="elementsInf">
                <div class="generalInfo">
                    <div class="picture">
                        <img src="../../../../assets/foto.jpg" alt="">
                    </div>
                    <div class="information">
                        <p>
                            Nombre: Carolly 
                            Apellido: García Morel
                            Profesión: Publicidad
                        </p>
                    </div>
                </div>
            </div>    
            
            <div class="linkInfo">
                <div class="linkeIn">
                    <img src="../../../../assets/calink.svg" alt="">
                </div>
            </div>
        </div>
    <!-- </ng-container> -->
    </div>



</div>