<nav class="lctl-toggleNavbar">
    <input id="lctl-toggleNavbarLabel" type="checkbox" class="lctl-toggleNavbarCheckbox lctl-toggleNavbarCheckbox2">
    <div class="lctl-toggleNavbarPrincipal lctl-toggleNavbarPrincipal2">
        <img a routerLink="/" routerLink="/log-in"
            class="lctl-toggleNavbarIcon" src="../../../../assets/LogoMiReserva.svg">
        <label for="lctl-toggleNavbarLabel" class="lctl-toggleNavbarLabel lctl-toggleNavbarLabel2">
            <img src="
            assets/photos/logorestaurante.png
            " class="lctl-photoProfile-m lctl-toggleNavbarPhotoProfile2">
        </label>
    </div>
    <nav class="lctl-toggleNavbarLeftElements lctl-toggleNavbarLeftElements2">
        <a routerLink="/search" class="lctl-toggleNavbarElement">
            Reservar
        </a>
        <a routerLink="/reservations-list-client" class="lctl-toggleNavbarElement">
            Mis Reservas
        </a>
    </nav>
    <nav class="lctl-toggleNavbarRightElements lctl-toggleNavbarRightElements2">
        <a routerLink="/edit-client" class="lctl-toggleNavbarElement">
            Editar perfil
        </a>
        <a routerLink="/" class="lctl-toggleNavbarElement">
            Salir
        </a>
    </nav>
    <label for="lctl-toggleNavbarLabel" class="lctl-toggleNavbarLabelExit lctl-toggleNavbarLabelExit2">
        <div class="lctl-toggleNavbarExit lctl-toggleNavbarExit2"></div>
    </label>
</nav>