<div class="lctl-navContainer">
    <ng-container *ngIf="serviceLogin.userCustomer.photo; else notPhoto">
    <button class="lctl_navSection lctl-navToggle">
        <img  src="{{serviceLogin.userCustomer.photo}}" class="lctl-photoProfile-m">
    </button>
</ng-container>
<ng-template #notPhoto>
    <button class="lctl_navSection lctl-navToggle">
        <img  src="assets/photos/logorestaurante2.png" class="lctl-photoProfile-m">
    </button>
</ng-template>
    <button class="lctl-navItems">
        <div class="lctl-navAfterButton">
            <button class="lctl_navSection lctl-navRightItems">
                <div class="lctl-navAfterButton2">
                    <div class="lctl-navElement" (click)="toEditProfile()"
                        [ngClass]="{'lctl-navSelect': serviceLogin.navCustomer === 1}">
                        Editar perfil
                    </div>
                    <div class="lctl-navElement" (click)="toLogIn()"
                        [ngClass]="{'lctl-navSelect': serviceLogin.navCustomer === 2}">
                        Salir
                    </div>
                </div>
            </button>
            <div class="lctl_navSection lctl-navLeftItems">
                <div class="lctl-navElement" (click)="toSearch()"
                    [ngClass]="{'lctl-navSelect': serviceLogin.navCustomer === 3}">
                    Reservar
                </div>
                <div class="lctl-navElement" (click)="toReservationListClient()"
                    [ngClass]="{'lctl-navSelect': serviceLogin.navCustomer === 4}">
                    Mis reservas
                </div>
            </div>
            <button class="lctl-navHidden"></button>
        </div>
    </button>
        <div class="lctl_navSection lctl-navHome" (click)="toSearch()">
            <img src="../../../../assets/LogoMiReserva.svg">
    </div>
</div>