.content {
    width: min(calc(100% - 20px), 500px);
    min-height: 280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secundaryColorPush);
    border-radius: var(--borderRadiusL);
    background-color: var(--primaryColorOpposite);
    & > .contentTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px 0 5px;
        width: 100%;
        min-height: 40px;
        background-color:var(--secundaryColorPush);   
        & > div {
            text-align: center;
            font-weight: var(--fontWidthBolder);
        }
    }
    & > .img {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 150px;
        padding: 10px;
        & > img {
            width: 100%;
    }}
    & > .info {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        padding: 0 5px 0 5px;
        font-size: var(--fontSizeM);
    }
    & > .buttons {
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 250px;
        height: 60px;
}}
@media screen and (max-width: 450px) {
    .content{
        & > .contentTitle {
            & > div {
                font-size: var(--fontSizeS);
            }
        }
        & > .img {
            & > img {
        }}
        & > .info {
        font-size: var(--fontSizeS);
        }
        & > .buttons {
}}}