<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="lctl-centerElements table">
        <input class="lctl-cellInput-extraLarge" type="text" placeholder="Nombre de la mesa">
        <input class="lctl-cellInput-extraLarge" type="text" placeholder="PAX">
       
        <button class="buttonadd lctl-button-m ">Añadir Mesa</button>
    </div>

    <div class="lctl-centerElements addtable">
        <div class="resp">
            
            <ul>
                <li>Mesa 1</li>
                <li>PAX(Max4)</li>
                <li>
                    <button class="lctl-warnButtonOpposite-s buttonli">Editar</button>
                    <button class="lctl-warnButton-s buttonli">Borrar</button>
                </li> 
            </ul>
            
            <div class=" separator lctl-br"></div>

            <ul>
                <li>Mesa 1</li>
                <li>PAX(Max4)</li>
                <li>
                    <button class="lctl-warnButtonOpposite-s buttonli">Editar</button>
                    <button class="lctl-warnButton-s buttonli">Borrar</button>
                </li> 
            </ul>
            
            <div class=" separator lctl-br"></div>
           
        </div>
</div>
    <div class="buttonnext lctl-rightElements">
        <button class="lctl-warnButtonOpposite-m">Anterior</button>
        <button class="lctl-button-m ">Siguiente</button>
    </div>
</div> 
</body>
</html>