//-----//-----//-----//-----//-----
//-----modifyNav-----
//-----//-----//-----//-----//-----
.modifyNav { 
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden; 
    padding: 0;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
  .modifyNav > div { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    height: 100%;
    width: 100%;
    background-color: var(--secundaryColorPush);
    position: relative;
    & a {
      color: var(--secundaryColor);
      font-weight: var(--fontWidthBolder);
      transform: translateX(-15px);
      cursor: default;
  }}
  .modifyNav div:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid var(--secundaryColorPush);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 1;
    transform: translateX(-15px);
  } 
  .modifyNav div:before {
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid var(--secundaryColor);
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    margin-left: 1px;
    left: 100%;
    z-index: 1;
    transform: translateX(-15px);
  }
  .modifyNav div:last-child::before {
    display: none;
  }
  #dist {
    background-color: var(--primaryColor);
    &::after {
      border-left-color: var(--primaryColor);
    }
  }
  @media screen and (max-width: 425px) {
    .modifyNav div:after, .modifyNav div:before { 
      display: none;
}}
//-----//-----//-----//-----//-----
//-----Add tales-----
//-----//-----//-----//-----//-----
.center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: min(calc(100% - 20px), 1420px);
  & > .space {
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 82px;
    width:100%;
    & > div {
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 186px;
      & >.specialButton {
        outline: none;
        width: 130px;
        text-align: center;
        &:active {
          background: var(--primaryColor);
          color: var(--primaryColorOpposite);
          border-color: var(--primaryColor);
      }}
      & > input {
        margin-left: 5px;
}}}}
@media screen and (max-width: 922px) {
  .center {
    & > .space {
      & > div {
        width: min-content;
        & >.specialButton {
          transform: translateY(13px);
          &:active {
        }}
        & > input {
}}}}}
@media screen and (max-width: 600px) {
  .center {
    & > .space {
      flex-wrap: wrap;
      & > div {
        width: 40%;
        margin: 10px;
        & >.specialButton {
          transform: translateY(0px);
          &:active {
        }}
        & > input {
}}}}}
@media screen and (max-width: 483px) {
  .center {
    & > .space {
      flex-wrap: wrap;
      & > div {
        width: 35%;
        & >.specialButton {
          transform: translateY(13px);
          &:active {
        }}
        & > input {
}}}}}
@media screen and (max-width: 345px) {
  .center {
    & > .space {
      flex-direction: column;
      & > div {
        width: max-content;
        & >.specialButton {
          transform: translateY(0px);
          &:active {
        }}
        & > input {
}}}}}
//-----//-----//-----//-----//-----
//-----Tables-----
//-----//-----//-----//-----//-----
.tables, .header {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: min(calc(100% - 20px), 1420px);
}
.header {
  background-color: var(--primaryColorOpposite);
}
.rows {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    & > button {
}}}
@media screen and(max-width: 922px) {
  .tables, .header {
  }
  .header {
  }
  .rows {
    & > div {
      transform: translateX(-10px);
      & > button {
}}}}
@media screen and (max-width: 600px) {
  .tables, .header {
  }
  .header {
  }
  .rows {
    & > div {
      transform: translateX(0px);
      & > button {
}}}}
@media screen and (max-width: 483px) {
  .tables, .header {
  }
  .header {
  }
  .rows {
    & > div {
      font-size: var(--fontSizeS);
      & > button {
}}}}
//-----//-----//-----//-----//-----
//-----Not-----
//-----//-----//-----//-----//-----
.not {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  margin-top: 40px;
  width: calc(100% - 100px);
  & > img {
    width: 400px;
    max-width: 100%;
}}
@media screen and (max-width: 768px) {
  .not {
    margin-top: 10px;
    & > img {
}}}
//-----//-----//-----//-----//-----
//-----Buttons-----
//-----//-----//-----//-----//-----
.pass {
  position: absolute;
  bottom: 0;
  background-color: var(--primaryColorOpposite);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 50px;
  width: 100%;
  height: 52px;
}
@media screen and (max-width: 768px) {
  .pass {
    justify-content: center;
    padding: 0;
    & > button {
      width: 120px;
}}}
//-----Especial elements-----
.caution {
  border:var(--secundaryColorContrast) solid 1px;
}
.caution::placeholder {
  color:var(--secundaryColorContrast);
}