//-----//-----//-----//-----//-----
//-----modifyNav-----
//-----//-----//-----//-----//-----
.modifyNav { 
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden; 
    padding: 0;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
  .modifyNav > div { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    height: 100%;
    width: 100%;
    background-color: var(--secundaryColorPush);
    position: relative;
    & a {
      color: var(--secundaryColor);
      font-weight: var(--fontWidthBolder);
      transform: translateX(-15px);
  }}
  .modifyNav div:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid var(--secundaryColorPush);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 1;
    transform: translateX(-15px);
  } 
  .modifyNav div:before {
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid var(--secundaryColor);
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    margin-left: 1px;
    left: 100%;
    z-index: 1;
    transform: translateX(-15px);
  }
  .modifyNav div:last-child::before {
    display: none;
  }
  #dist {
    background-color: var(--primaryColor);
    &::after {
      border-left-color: var(--primaryColor);
    }
  }
  @media screen and (max-width: 425px) {
    .modifyNav div:after, .modifyNav div:before { 
      display: none;
  }}

//BORRO MUCHO CSS CONFIRMAR ESTE CAMBIO
.centrar{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
     
}

.inter{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-right: 15px;
    
}
.space{
    opacity:0;
    height: 60px;
}

.space2{
    opacity:0;
    height: 50px;
}


.alturbr{
    height:300px;
    opacity:0;
}

// ES ESTE WIDTH FIJO ES LO QUE TE JODE EL RESPONSIVE VENTU ;)
.espaciar{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right:15px;
    width:1050px;
    // max-width:1050px;
    // min-width:300px;
    
    
       
}
  .caution{
    border:var(--secundaryColorContrast) solid 2px;
    background-color: lightgrey;
  }
  .caution::placeholder{
    color:var(--secundaryColorContrast);

  }

  .rows{
    height: 50px;
    max-width:650px;
    min-width:300px;
    display: flex;
    justify-content: space-evenly; 
    
    // border-bottom: 1px solid var(--secundaryColorPush);
    & p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        height: 100%;
        padding-top:12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & p:first-child{
        width: 150px;
        text-align: center;
    }
    & p:nth-child(2){
        width: 150px;        
    }
    & p:nth-child(3){
        width: 150px; 
        text-align: center;       
    }
    & p:nth-child(4){
        width: 100px; 
        text-align: center;       
    }
    & p:nth-child(5){
        width: 300px;        
    }
    & p:last-child{
        width: 200px;
    }
}

.esconder{
    visibility:hidden;

}

.column{
    display:flex;
    flex-direction: column;
    max-width: max-content;
    margin:auto;
}
.space3{
    opacity:0;
    height:5px;
}

.w{
  max-width:1200px;
  min-width: 280px;
}

.title{
    // max-width: 1500px;
    // min-width:300px;
    max-width: max-content;
    margin:auto;
}