<!-- Barra breadcrumb añadida al componente de ABAJO CONFIRMAR CAMBIO -->
<div class="header">
    <app-navbarOwner></app-navbarOwner>
  </div>
<div class="lctl-navbar">
    <ul class="breadcrumb">
        <li ><a id="info" >Información del Local</a></li>
        <li ><a id="dist">Distribución de las Mesas</a></li>
        <li ><a id="horarios">Horarios</a></li>
      </ul>
</div>
<div class="lctl-br space"></div>
<div class="centrar">
    <div class="inter">
    <form class="espaciar" #tableForm="ngForm"  (ngSubmit)="(tableForm.invalid) ? 'malll' : onSubmit(tableForm)">
        
        <div>
            <input class="lctl-cellInput-extraLarge" type="text" autocomplete="off"
            placeholder="{{tableForm.submitted && name.invalid ?  'Mesa obligatoria' : 'Nombre Mesa'}}"
            id="name" name="name" [(ngModel)]="table.name" #name="ngModel" #prueba 
            [ngClass]="{'is-invalid':tableForm.submitted && name.invalid }" required>
        

        </div>
        <div>
            <input class="lctl-cellInput-extraLarge" type="text" autocomplete="off"
            placeholder="{{tableForm.submitted && pax.invalid ?  'PAX obligatoria' : 'PAX'}}"           
            name="pax" [(ngModel)]="table.pax" #pax="ngModel" 
            [ngClass]="{'is-invalid':tableForm.submitted && pax.invalid }" required>
        
        </div>
            <button type="submit" class="buttonadd lctl-button-m ">Añadir Mesa</button>
        
    </form>
</div>
</div>
<div class="lctl-br space2" ></div>
<ng-container *ngIf="tables[0]!=null; else nomesas">
    <div class=" title">
        <div class="rows">
            <p class="lctl-font-bold">Mesa</p>
            <p class="lctl-font-bold">Personas</p>
            <button class="lctl-button-m esconder">Eliminar</button>

        </div>
    </div>
        <div class="column" *ngFor="let table of this.tables; let i = index">
               
                <div>
                <div class="lctl-br w"></div>
                </div>
                <div>
                    <div class="lctl-br space3 w"></div>
                </div>
                <div class="rows" >    
            <p class="lctl-font-paragraph">{{table.name}}</p>
            <p class="lctl-font-paragraph">{{table.pax}}</p>
            <button (click)="eliminar(i)" class="lctl-button-m ">Eliminar</button>
            </div>
            
        </div>
</ng-container>
<ng-template #nomesas>
    <div class="centrar">
        <img src="assets/noMesas.svg">
    </div>
</ng-template>    
    
        <div class="buttonnext lctl-rightElements">
            <button class="lctl-warnButtonOpposite-m" routerLink="/create-restaurant-1">Anterior</button>
            <button class="lctl-button-m " routerLink="/create-restaurant-3">Siguiente</button>
        </div>

    
   <!-- <button (click)="confirmReservation(reservationsNo[i].id_reservation)" class="lctl-button-m" >Confirmar</button>
            <button (click)="rejectReservation(reservations[i].id_reservation)" class="lctl-button-m" >Rechazar</button> -->
            <!-- <button class="lctl-warnButtonOpposite-m">Editar</button>
            <button class="lctl-button-m ">Eliminar</button> -->
