<div class="modifyNav">
    <div id="info"><a>Local</a></div>
    <div id="dist"><a>Mesas</a></div>
    <div id="horarios"><a>Horas</a></div>
</div>

<div class="center">

    <form class="space" #tableForm="ngForm"  (ngSubmit)="(tableForm.invalid) ? 'malll' : onSubmit(tableForm)">
        
        <div>
            Nombre
            <input class="lctl-cellInput-large" type="text" autocomplete="off"
                placeholder="{{tableForm.submitted && name.invalid ?  'Mesa ' : ' Mesa'}}"
                id="name" name="table_name" [(ngModel)]="table.table_name" #name="ngModel" #myInputFile
                [ngClass]="{'is-invalid':tableForm.submitted && name.invalid }" required>
        </div>

        <div>
            PAX min
            <input class="lctl-cellInput-large" type="text" autocomplete="off"
                placeholder="{{tableForm.submitted && paxmin.invalid ?  'PAX min' : 'PAX min'}}"           
                name="table_min" [(ngModel)]="table.table_min" #paxmin="ngModel" 
                [ngClass]="{'is-invalid':tableForm.submitted && paxmin.invalid }" required>
        </div>

        <div>
            PAX max
            <input class="lctl-cellInput-large" type="text" autocomplete="off"
                placeholder="{{tableForm.submitted && paxmax.invalid ?  'PAX max ' : 'PAX max'}}"           
                name="table_max" [(ngModel)]="table.table_max" #paxmax="ngModel" 
                [ngClass]="{'is-invalid':tableForm.submitted && paxmax.invalid }" required>
        </div>

        <div>
            <button type="submit" class="lctl-cellInput-extraLarge specialButton">Añadir mesa</button>
        </div>
    
    </form>
        
</div>

<ng-container *ngIf="this.servicetable.table[0]!=null; else not">

    <div class="header">

        <div class="rows">
    
            <div class="lctl-font-bold">Mesa</div>
            <div class="lctl-font-bold">PAX Min</div>
            <div class="lctl-font-bold">PAX Max</div>
            <div>
                <button class="lctl-warnButtonOpposite-s" style="visibility: hidden;">Eliminar</button>
            </div>
    
        </div>

    </div>

    <div class="tables" *ngFor="let table of this.servicetable.table; let i = index">

        <div class="lctl-br"></div>

        <div class="rows">    
            <div class="lctl-font-paragraph">{{table.table_name}}</div>
            <div class="lctl-font-paragraph">{{table.table_min}}</div>
            <div class="lctl-font-paragraph">{{table.table_max}}</div>
            <div>
                <button (click)="eliminar(i, table)" class="lctl-warnButtonOpposite-s">Eliminar</button>
            </div>
        </div>

    </div>

</ng-container>

<ng-template #not>
    <div class="not">
        <img src="assets/noMesas.svg">
    </div>
</ng-template>    
    
<div class="pass">
    <!-- <button class="lctl-warnButtonOpposite-m" disabled routerLink="/create-restaurant-1">Anterior</button> -->
    <button class="lctl-button-m "(click)="goToRestaurant3()">Siguiente</button>
</div>