<div class="imyourfather">

    <div class="background">
        <div class="redShape"></div>
    </div>

    <div class="lukeNooo">

        <div class="target" *ngFor="let person of persons">

            <div class="elementsInf">

                <div class="lctl-photoProfile-xl">
                    <img src="{{person.photo}}">
                </div>
                <div class="information">
                    <div>
                        Nombre: {{person.nombre}}
                    </div>
                    <div>
                        Apellidos: {{person.apellido1}} {{person.apellido2}}
                    </div>
                    <div>
                        Profesión: {{person.profesion}}
                    </div>
                </div>

            </div>

            <div class="linkInfo">
                <a class="linkeIn" href="{{person.linkedIn}}" target="_blank">
                    <img src="{{person.linkedInPhoto}}">
                </a>
            </div>

        </div>

    </div>

</div>