.imyourfather {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    & > .background {
        position: fixed;
        justify-content: center;
        width: min(calc(100% - 20px), 1420px);
        height: 100%;
        & > .redShape{
            width: 25%;
            height: 100%;
            background-color: var(--primaryColor);
    }}
    & > .lukeNooo {
        z-index: 3;
        width: min(calc(100% - 20px), 1420px);
        height: 100%;
        background: transparent;
        display: flex;
        flex-direction: column;
        & > .target {
            width: 100%;
            margin: 10px auto 10px auto;
            min-height: max(calc(50% - 61px), 320px);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            & > .elementsInf {
                width: min-content;
                height: 160px;
                justify-content: flex-end;
                align-items: center;
                display: flex;
                margin-left: calc(25% - 60px);
                border-bottom-left-radius: 1000px;
                border-top-left-radius: 1000px;
                padding-left: 5px;
                & > .lctl-photoProfile-xl {
                    border: 1px solid var(--secundaryColorPush) !important;
                    width: 150px;
                    height: 150px;
                    box-shadow: 0 0 0 10px var(--primaryColorContrast);
                }
                & > .information {
                    width: 300px;
                    height: 100%;
                    margin-left: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    & > div {
                        height: 32px;
                        font-weight: var(--fontWidthBolder);
            }}}
            & > .linkInfo {
                width: 100%;
                height: 160px;
                justify-content: flex-end;
                align-items: center;
                display: flex;
                & > .linkeIn {
                    width: 100%;
                    align-items: center;
                    justify-content: flex-end;
                    height: 80px;
                    display: flex;
                    padding-right: 20px;
                    & > img {
                        height: 100%;
}}}}}}
@media screen and (max-width:960px) {
    .imyourfather {
        & > .background {
            & > .redShape{
        }}
        & > .lukeNooo {
            & > .target {
                & > .elementsInf {
                    margin-left: calc(11% - 60px);
                    width: 100%;
                    height: 300px;
                    flex-direction: column;
                    border-radius: 0;
                    padding: 0;
                    & > .lctl-photoProfile-xl {
                        min-width: 150px;
                        min-height: 150px;
                    }
                    & > .information {
                        margin: 0;
                        width: 100%;
                        & > div {
                            background-color: var(--secundaryColor);
                            margin: 0 auto 0 auto;
                            width: 320px;
                            text-align: center;
                            padding-left: 10px;
                            padding-right: 10px;
                            &:first-child {
                                border-top-left-radius: var(--borderRadiusL);
                                padding-top: 10px;
                                height: 42px;
                            }
                            &:last-child {
                                border-bottom-left-radius: var(--borderRadiusL);
                                padding-bottom: 10px;
                                height: 42px;
                }}}}
                & > .linkInfo {
                    & > .linkeIn {
                        & > img {
}}}}}}}
@media screen and (max-width:700px) {
    .imyourfather {
        & > .background {
            & > .redShape{
                width: 50%;
            }}
        & > .lukeNooo {
            margin: auto;
            & > .target {
                flex-direction: column;
                min-height: auto;
                &:first-child {
                    margin-top: 20px;
                }
                & > .elementsInf {
                    & > .lctl-photoProfile-xl {
                    }
                    & > .information {
                        & > div {
                            &:first-child {
                            }
                            &:last-child {
                }}}}
                & > .linkInfo {
                    justify-content: center;
                    height: auto;
                    margin-bottom: 20px;
                    & > .linkeIn {
                        justify-content: center;
                        & > img {
}}}}}}}
@media screen and (max-width:400px) {
    .imyourfather {
        & > .background {
            & > .redShape{
                width: 0;
            }}
        & > .lukeNooo {
            & > .target {
                &:first-child {
                }
                & > .elementsInf {
                    margin: auto;
                    & > .lctl-photoProfile-xl {
                        width: 120px;
                        height: 120px;
                    }
                    & > .information {
                        & > div {
                            width: 260px;
                            font-size: var(--fontSizeS);
                            &:first-child {
                            }
                            &:last-child {
                }}}}
                & > .linkInfo {
                    & > .linkeIn {
                        & > img {
}}}}}}}