<div class="lctl-navContainer">
    <button class="lctl_navSection lctl-navToggle">
        <ng-container *ngIf="userOwner.photo; else notPhoto">
            <div class="lctl-photoProfile-m">
                <img  src="{{userOwner.photo}}">
            </div>
        </ng-container>
        <ng-template #notPhoto>
            <div class="lctl-photoProfile-m">
                <img  src="assets/photos/logorestaurante2.png">
            </div>
        </ng-template>
    </button>
    <button class="lctl-navItems">
        <div class="lctl-navAfterButton">
            <button class="lctl_navSection lctl-navRightItems">
                <div class="lctl-navAfterButton2">
                    <div class="lctl-navElement" (click)="serviceRouter.routerOwner(3)"
                        [ngClass]="{'lctl-navSelect': serviceRouter.navOwner === 3}">
                        Editar perfil
                    </div>
                    <div class="lctl-navElement" (click)="serviceRouter.routerOwner(0)"
                        [ngClass]="{'lctl-navSelect': serviceRouter.navOwner === 0}">
                        Salir
                    </div>
                </div>
            </button>
            <div class="lctl_navSection lctl-navLeftItems">
                <div class="lctl-navElement" (click)="serviceRouter.routerOwner(1)"
                    [ngClass]="{'lctl-navSelect': serviceRouter.navOwner === 1}">
                    Añadir restaurante
                </div>
                <div class="lctl-navElement" (click)="serviceRouter.routerOwner(2)"
                    [ngClass]="{'lctl-navSelect': serviceRouter.navOwner === 2}">
                    Mis restaurantes
                </div>
            </div>
            <button class="lctl-navHidden"></button>
        </div>
    </button>
    <div class="lctl_navSection lctl-navHome" (click)="serviceRouter.routerOwner()">
        <img src="../../../../assets/LogoMiReserva.svg">
    </div>
</div>