<div class="lctl-navContainer">
    <ng-container *ngIf="this.serviceLogin.userOwner.photo; else sinfoto">
        <button class="lctl_navSection lctl-navToggle">
            <img  src="{{this.serviceLogin.userOwner.photo}}" class="lctl-photoProfile-m">
        </button>
    </ng-container>
    <ng-template #sinfoto>
        <button class="lctl_navSection lctl-navToggle">
            <img  src="assets/photos/logorestaurante2.png" class="lctl-photoProfile-m">
        </button>
    </ng-template>
    <button class="lctl-navItems">
        <div class="lctl-navAfterButton">
            <button class="lctl_navSection lctl-navRightItems">
                <div class="lctl-navAfterButton2">
                    <div #edit class="lctl-navElement" (click)="toEditProfile()">
                        Editar perfil
                    </div>
                    <div #out class="lctl-navElement" (click)="toLogIn()">
                        Salir
                    </div>
                </div>
            </button>
            <div class="lctl_navSection lctl-navLeftItems">
                <div #add class="lctl-navElement" (click)="toCreateRestaurant1()">
                    Añadir resturante
                </div>
                <div #all class="lctl-navElement" (click)="toRestaurantsList()">
                    Mis restaurantes
                </div>
            </div>
            <button class="lctl-navHidden"></button>
        </div>
    </button>
    <div class="lctl_navSection lctl-navHome" (click)="toRestaurantsList()">
        <img src="../../../../assets/LogoMiReserva.svg">
    </div>
</div>