<nav class="lctl-navbar">
    <div class="lctl-navbar-leftElements">
        <a routerLink="/" class="img" routerLink="/restaurants-list">
            <img src="../../../../assets/LogoMiReserva.svg" alt="Logo empresa">
        </a>    
        <a routerLink="/create-restaurant-1">Añadir Restaurant</a>
        <a routerLink="/restaurants-list">Mis Restaurantes</a>
        <!-- <a routerLink="/">Estadisticas</a> -->

    </div>

    <div class="lctl-rightElements">
        <a routerLink="/" class="img">
            <img src="" alt="" class="lctl-photoProfile-m">
        </a>
    </div>
</nav>