<!-- Barra breadcrumb añadida al componente de ABAJO CONFIRMAR CAMBIO -->
<div class="lctl-navbar">
    <ul class="breadcrumb">
        <li ><a id="info">Información del Local</a></li>
        <li ><a id="dist">Distribución de las Mesas</a></li>
        <li ><a id="horarios">Horarios</a></li>
      </ul>
</div>
<app-restaurant-owner-CreateRestaurantHeader></app-restaurant-owner-CreateRestaurantHeader>
<form class="encolumna" #restForm="ngForm" (ngSubmit)="(restForm.invalid) ? 'mal' : onSubmit(restForm)">
        <div class="dosendos">
        <input type="text" class="lctl-input-m-extraLarge" 
        placeholder="{{restForm.submitted && name.invalid ?  'Nombre del local obligatorio' : 'Nombre del local'}}"
         name="name" [(ngModel)]="restaurant.name" #name="ngModel"
        [ngClass]="{'caution':restForm.submitted && name.invalid }" required>
        
        <input type="text" class="lctl-input-m-extraLarge" 
        placeholder="{{restForm.submitted && telephone.invalid ?  'Teléfono obligatorio' : 'Teléfono'}}"
        name="telephone" [(ngModel)]="restaurant.telephone" #telephone="ngModel"
        [ngClass]="{'caution':restForm.submitted && telephone.invalid }" required>
        </div>
        <div class="dosendos">
        <input type="text" class="lctl-input-m-extraLarge" 
        placeholder="{{restForm.submitted && address.invalid ?  'Dirección obligatoria' : 'Dirección'}}"
        name="address" [(ngModel)]="restaurant.address" #address="ngModel"
        [ngClass]="{'caution':restForm.submitted && address.invalid }" required>
        <input type="text" class="lctl-input-m-extraLarge" 
        placeholder="{{restForm.submitted && capacity.invalid ?  'Aforo obligatorio' : 'Capacidad aforo'}}"
        name="capacity" [(ngModel)]="restaurant.capacity" #capacity="ngModel"
        [ngClass]="{'caution':restForm.submitted && capacity.invalid }" required>
        </div>
        <div class="dosendos">
        <input type="text" class="lctl-input-m-extraLarge" 
        placeholder="{{restForm.submitted && postalcode.invalid ?  'Código postal obligatorio' : 'Código postal'}}"
        name="postalcode" [(ngModel)]="restaurant.postalcode" #postalcode="ngModel"
        [ngClass]="{'caution':restForm.submitted && postalcode.invalid }" required>
        <select class="lctl-input-m-extraLarge" 
        name="food" [(ngModel)]="restaurant.food" #food="ngModel" 
        [ngClass]="{'caution':restForm.submitted && food.invalid }" required>
        <option disabled selected>Selecciona tipo de comida</option>
            <!-- //HAY QUE PONER VALUES A LOS OPTION PARA METERLOS EN LA BASE DE DATOS -->
            <option>Española</option>
            <option>Mexicana</option>
            <option>China</option>
            <option>Japonesa</option>
            </select>
        </div>
        <div class="dosendos">    
        <input type="text" class="lctl-input-m-extraLarge" placeholder="Email"
        placeholder="{{restForm.submitted && postalcode.invalid ?  'Email obligatorio' : 'Email'}}"
        name="email" [(ngModel)]="restaurant.email" #email="ngModel"
        [ngClass]="{'caution':restForm.submitted && email.invalid }" required>
        <input type="text" class="lctl-input-m-extraLarge"
        placeholder="{{restForm.submitted && password.invalid ?  'Contraseña obligatoria' : 'Contraseña'}}"
        name="password" [(ngModel)]="restaurant.password" #password="ngModel"
        [ngClass]="{'caution':restForm.submitted && password.invalid }" required>
        </div>
    <div class="button">
        <button type="submit" class="lctl-button-m " >Siguiente</button>
    </div>
        
</form>
