<!-- Barra breadcrumb añadida al componente de ABAJO CONFIRMAR CAMBIO -->
<div class="modifyNav">
    <div id="info"><a>Local</a></div>
    <div id="dist"><a>Mesas</a></div>
    <div id="horarios"><a>Horas</a></div>
</div>

<!-- HEADER -->

<div class="profileport inputimage"> 
    <img src="assets/photos/potada2.png" class="profileport inputimage"
        id="mostrarbanner" (click)="banner.click()">  
    <div class="port">
        <img src="" alt="">
        <input style="display:none" id="banner" type="file" name="banner" #banner (change)="processBanner(banner)">
    </div>
</div>
<div class="aligns">
    <div class="lctl-photoProfile-xl borderc" (click)="perfil.click()">    
        <img id="mostrarlogo" src="assets/photos/logorestaurante2.png" >
    </div>
    <input style="display:none" id="perfil" type="file" name="perfil" #perfil (change)="processLogo(perfil)">
</div>

<form class="createForm" #restForm="ngForm" (ngSubmit)="(restForm.invalid) ? 'mal' : onSubmit(restForm)">
        <div class="inputs">
            <div>
        <input type="text" class="lctl-input-m-extraLarge" 
        placeholder="{{restForm.submitted && name.invalid ?  'Nombre del local obligatorio' : 'Nombre del local'}}"
         name="name" [(ngModel)]="restaurantmodel.name" #name="ngModel"
        [ngClass]="{'caution':restForm.submitted && name.invalid }" required>
        
        <input type="text" class="lctl-input-m-extraLarge" 
        placeholder="{{restForm.submitted && phone.invalid ?  'Teléfono obligatorio' : 'Teléfono'}}"
        name="phone" [(ngModel)]="restaurantmodel.phone" #phone="ngModel"
        [ngClass]="{'caution':restForm.submitted && phone.invalid }" required>
            </div>
        <div >
        <input type="text" class="lctl-input-m-extraLarge" 
        placeholder="{{restForm.submitted && street_name.invalid ?  'Calle obligatoria' : 'Calle'}}"
        name="street_name" [(ngModel)]="restaurantmodel.street_name" #street_name="ngModel"
        [ngClass]="{'caution':restForm.submitted && street_name.invalid }" required>
        <input type="text" class="lctl-input-m-extraLarge" 
        placeholder="{{restForm.submitted && street_number.invalid ?  'Numero de calle obligatorio' : 'Número de calle'}}"
        name="street_number" [(ngModel)]="restaurantmodel.street_number" #street_number="ngModel"
        [ngClass]="{'caution':restForm.submitted && street_number.invalid }" required>
        </div>
        <div >
            <input type="text" class="lctl-input-m-extraLarge" 
            placeholder="{{restForm.submitted && city.invalid ?  'Ciudad obligatoria' : 'Ciudad'}}"
            name="city" [(ngModel)]="restaurantmodel.city" #city="ngModel"
            [ngClass]="{'caution':restForm.submitted && city.invalid }" required>
            
            <input type="text" class="lctl-input-m-extraLarge" 
            placeholder="{{restForm.submitted && capacity.invalid ?  'Aforo obligatorio' : 'Capacidad aforo'}}"
            name="capacity" [(ngModel)]="restaurantmodel.capacity" #capacity="ngModel"
            [ngClass]="{'caution':restForm.submitted && capacity.invalid }" required>
        </div>
        <div>
            <input type="text" class="lctl-input-m-extraLarge" 
            placeholder="{{restForm.submitted && province.invalid ?  'Provincia obligatoria' : 'Provincia'}}"
            name="province" [(ngModel)]="restaurantmodel.province" #province="ngModel"
            [ngClass]="{'caution':restForm.submitted && city.invalid }" required>
          
            <input type="text" class="lctl-input-m-extraLarge" 
            placeholder="{{restForm.submitted && url.invalid ?  'Link web obligatorio' : 'Link web del restaurante'}}"
            name="url" [(ngModel)]="restaurantmodel.url" #url="ngModel"
            [ngClass]="{'caution':restForm.submitted && url.invalid }" required>
        </div>
        <div>
            <input type="text" class="lctl-input-m-extraLarge" 
            placeholder="{{restForm.submitted && postal_code.invalid ?  'Código postal obligatorio' : 'Código postal'}}"
            name="postal_code" [(ngModel)]="restaurantmodel.postal_code" #postal_code="ngModel"
            [ngClass]="{'caution':restForm.submitted && postal_code.invalid }" required>
    
        <select class="lctl-input-m-extraLarge" 
        name="food_type" [(ngModel)]="restaurantmodel.food_type"  #food_type="ngModel" 
        [ngClass]="{'caution':restForm.submitted && food_type.invalid }" required>
        <option selected="true" disabled="disabled">Selecciona tipo de comida</option>
            <!-- //HAY QUE PONER VALUES A LOS OPTION PARA METERLOS EN LA BASE DE DATOS -->
            <option>Española</option>
            <option>Mexicana</option>
            <option>China</option>
            <option>Japonesa</option>
            </select>
        </div> 
        <div>  
        <input type="text" class="lctl-input-m-extraLarge" placeholder="Email"
        placeholder="{{restForm.submitted && email.invalid ?  'Email obligatorio' : 'Email'}}"
        name="email" [(ngModel)]="restaurant.email" #email="ngModel"
        [ngClass]="{'caution':restForm.submitted && email.invalid }" required>
   
    
        <input type="text" class="lctl-input-m-extraLarge"
        placeholder="{{restForm.submitted && password.invalid ?  'Contraseña obligatoria' : 'Contraseña'}}"
        name="password" [(ngModel)]="restaurant.password" #password="ngModel"
        [ngClass]="{'caution':restForm.submitted && password.invalid }" required>
    </div>        

        
    </div>
    <div class="lctl-footer pass">
        <button type="submit" class="lctl-button-m ">Siguiente</button>
    </div> 
</form>