<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form1">
        <input type="text" class="lctl-input-l-large" placeholder="Nombre del local">
        <input type="text" class="lctl-input-l-large" placeholder="Teléfono">
        <input type="text" class="lctl-input-l-large" placeholder="Dirección">
        <input type="text" class="lctl-input-l-large" placeholder="Aforo">
        <input type="text" class="lctl-input-l-large" placeholder="Código Postal">
        <select class="lctl-input-l-large" name="transporte">
            <option>Tipo de comida</option>
            <option>Española</option>
            <option>Mexicana</option>
            <option>China</option>
            <option>Japonesa</option>
            </select>
        <input type="text" class="lctl-input-l-large" placeholder="Email">
        <input type="text" class="lctl-input-l-large" placeholder="Contraseña">
    <div class="button">
        <button class="lctl-button-m ">Siguiente</button>
    </div>
        
    </div>
</body>
</html>