<!-- <ng-container *ngIf="reservations == []"></ng-container>
    <h3 class="lctl-centerElements">No tienes ninguna reserva activa</h3>    -->
    <div class="lctl-br space"></div>
    <div class="lctl-br space"></div>  

    <div class="content">
   
<div class="table">
    

    <div>
        
        <div class="lctl-leftElements">
        <button  class="lctl-button-m " (click)="modalNew()" >Reserva Manual</button>
        </div>
        <div class="lctl-rightElements">
        <select name="select" class="lctl-cellSelect-extraLarge" [(ngModel)]="value">
            <option value="value2" selected>Estado</option>
            <option value="0">Confirmada</option>
            <option value="1">Rechazada</option>
            <option value="2">Cancelada por cliente</option>
        </select>
        <select name="select" class="lctl-cellSelect-extraLarge">
            <option value="value2" selected>Turnos</option>
            <option value="value1">Desayuno</option>
            <option value="value3">Almuerzo</option>
            <option value="value3">Cena</option>
          </select>
          <button  class="" (click)="calendar()">
              <p>Calendario</p>
            <label id="one">
                <p></p>
            </label>
        </button>
          
        </div>  
    </div>
    <div class="lctl-br space"></div>
    <div class="lctl-br"></div>
    <div class="lctl-br space"></div>
    <div class="title">
    <h3>CONFIRMADAS</h3>
    </div>

    <div class="rows">
        <p class="lctl-font-bold">Hora</p>
        <p class="lctl-font-bold">Nombre</p>
        <p class="lctl-font-bold">Mesa</p>
        <p class="lctl-font-bold">Pax</p>
        <p class="lctl-font-bold">Observaciones</p>
        <p class="lctl-font-bold">Estado</p>
    </div>
    <ng-container *ngIf="value == 0 ">
    <ng-container *ngFor="let reservation of reservationsConfirmed; let i = index">
        <div class="rows2" (click)="modalStatus()">
            <p class="lctl-font-paragraph">{{reservationsConfirmed[i].hour}}</p>
            <p class="lctl-font-paragraph">{{customers[i]}}</p>
            <p class="lctl-font-paragraph">{{reservationsConfirmed[i].table_id}}</p>
            <p class="lctl-font-paragraph">{{reservationsConfirmed[i].pax}}</p>
            <p class="lctl-font-paragraph">{{reservationsConfirmed[i].comments}}</p>
            <ng-container> 
             <p> 
            <button (click)="modalStatus()" class="lctl-warnButton-s buttonLib">Liberada</button>
            <!-- <button (click)="confirmReservation(reservationsYes[i].id_reservation)" class="lctl-warnButton-s buttonLib">Liberada</button> -->
            <!-- Hola Juan acá los botones, suerte con push, no trabajes en la MAIN, att. Jesús-->
            <!-- <button (click)="confirmReservation(reservationsYes[i].id_reservation)" class="lctl-button-m buttonCan">Reservada</button>
            <button (click)="confirmReservation(reservationsYes[i].id_reservation)" class="lctl-button-m buttonRes">Reservada</button>
            <button (click)="confirmReservation(reservationsYes[i].id_reservation)" class="lctl-button-m buttonSen">Reservada</button>
            <button (click)="confirmReservation(reservationsYes[i].id_reservation)" class="lctl-button-m buttonAu">Reservada</button> -->
            </p>
            </ng-container>
    </div>
    <div class="lctl-br"></div>
    </ng-container>

    </ng-container>
</div>

</div>

<div class="content">
     <div class="table">
    <div class="title">
    <h3>POR CONFIRMAR</h3>
   </div>
    <div class="rows">
        <p class="lctl-font-bold">Hora</p>
        <p class="lctl-font-bold">Nombre</p>
        <p class="lctl-font-bold">Mesa</p>
        <p class="lctl-font-bold">Pax</p>
        <p class="lctl-font-bold">Observaciones</p>
        <p class="lctl-font-bold">Estado</p>
    </div>
    <!-- <ng-container *ngFor="let reservation of reservations2; let i = index">
        <ng-container *ngIf="value == 1 ">

    <div class="rows2">
            <p class="lctl-font-paragraph">{{reservations2[i].hour}}</p>
            <p class="lctl-font-paragraph">{{reservations2[i].day}}</p>
            <p class="lctl-font-paragraph">{{reservations2[i].table_id}}</p>
            <p class="lctl-font-paragraph">{{reservations2[i].pax}}</p>
            <p class="lctl-font-paragraph">{{reservations2[i].comments}}</p>
            <p class="changesButton">
            <button (click)="confirmReservation(reservationsNo[i].id_reservation)" class="lctl-buttonOpposite-s" >Confirmar</button>
            <button (click)="rejectReservation(reservationsNo[i].id_reservation)" class="lctl-warnButton-s" >Rechazar</button>
            </p>
    </div>
    <div class="lctl-br"></div>
</ng-container>

</ng-container> -->

</div> 


</div>


