//----------//----------//----------//----------//----------
//----------Filters nav-----
//----------//----------//----------//----------//----------
.filters {
    position: sticky;
    top: 0;
    width: min(calc(100% -20px), 1000px);
    height: max-content;
    display: flex;
    margin: auto;
    align-items: space-between;
    background-color: var(--secundaryColor);
    padding-right: 15px;
    padding-left: 15px;
    & > .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 60px;
        & >.lctl-buttonOpposite-m {
            width: 170px;
        }
    }
    & > .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 60px;
    & > .lctl-cellSelect-extraLarge {
        margin: 5px;
        font-size: 14px;
        color: var(--secundaryColorOpposite);
        border: solid 1px var(--secundaryColorPush);
        width: 170px;
    }
    & >.lctl-cellButton {
        width: max-content;
        padding-left: 10px;
        padding-right: 10px;
}}}
.lctl-br {
    position: sticky;
    top: 60px;
    width: min(calc(100% -20px), 1000px);
}
//----------//----------//----------//----------//----------
//----------Rows-----
//----------//----------//----------//----------//----------
.content {
    width: min(calc(100% -20px), 1000px);
    margin: auto;
    display: flex;
    flex-direction: column;
    & > .rows {
        height: 60px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        border-radius: var(--borderRadiusM);
        background-color: var(--primaryColorOpposite);
        overflow: hidden;
        cursor: pointer;
        & > div {
            padding: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;
            &:first-child {
                min-width: 100px;
                text-align: center;
            }
            &:nth-child(2) {
                min-width: 80px;
                justify-self: flex-start;
                text-align: center;
            }
            &:nth-child(3) {
                min-width: 100px;
                text-align: center;
            }
            &:nth-child(4) {
                min-width: 180px;
            }
            &:nth-child(5) {
                width: 100%;
            }
            &:nth-child(6) {
                min-width: 160px;
                text-align: center;
}}}}
.header {
    position: sticky;
    top: 66px;
    color: var(--primaryColorOpposite);
    background-color: var(--secundaryColorPush)!important;
    cursor: default !important;
    & > div {
        cursor: default !important;
}}
.lctl-font-title {
    margin-top: 20px;
    text-align: center;
}