.content {
  width: min(calc(100% -20px), 1420px);
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.allSearch {
  position: sticky;
  top: 0;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secundaryColor);
  border-bottom: 1px solid var(--secundaryColorPush);
  & >.search {
    margin: 10px;
    display: flex;
    width: calc(100% - 20px);
    max-width: 400px;
    min-width: 260px;
    height: 40px;
    & >.searchLine {
      background-color: var(--primaryColorOpposite);
      height: 100%;
      width: 100%;
      border: 1px solid var(--secundaryColorPush);
      border-right: none;
      outline: none;
      border-radius: 5px 0 0 5px;
      padding: 0 5px 0 10px;
      color: var(--secundaryColorOpposite);
      &::placeholder {
        color: var(--secundaryColorPush);
      }
      &:focus::placeholder {
        color: var(--primaryColorOpposite);
    }}
    & >.searchButton {
      outline: none;
      width: 50px;
      border: 1px solid var(--secundaryColorPush);
      border-left: none;
      background: url("../../../../assets/seach.svg");
      background-repeat: no-repeat;
      background-color: var(--primaryColor);
      border-radius: 0 5px 5px 0;
      padding: 0 10px 0 10px;
      font-size: 20px;
        &:hover, &:active {
          background-color: var(--primaryColorAccent);
    }}
    & > .labelTeam {
      width: 100%;
      display: flex;
      justify-content: center;
  }}
  .map {
    position: sticky;
    top: 0;
    width: 100%;
    // height: calc(100vh - 134px);
    display: flex;
    background-color: var(--primaryColorLink);
  }
  .cards {
    background-color: aqua;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}}
//-----Especial elements-----
.checkIt {
  background-color: red;
}
