.content {
  margin: auto;
  width: min(calc(100% -20px), 1420px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.allSearch {
  // position: sticky;
  // top: 0;
  width: 100%;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secundaryColor);
  & >.search {
    margin: 10px;
    display: flex;
    width: calc(100% - 20px);
    max-width: 400px;
    min-width: 260px;
    height: 40px;
    & >.searchLine {
      background-color: var(--primaryColorOpposite);
      height: 100%;
      width: 100%;
      border: 1px solid var(--secundaryColorPush);
      border-right: none;
      outline: none;
      border-radius: 5px 0 0 5px;
      padding: 0 5px 0 10px;
      color: var(--secundaryColorOpposite);
      &::placeholder {
        color: var(--secundaryColorPush);
      }
      &:focus::placeholder {
        color: var(--primaryColorOpposite);
    }}
    & >.searchButton {
      outline: none;
      width: 50px;
      border: 1px solid var(--secundaryColorPush);
      border-left: none;
      background: url("../../../../assets/seach.svg");
      background-repeat: no-repeat;
      background-color: var(--primaryColor);
      border-radius: 0 5px 5px 0;
      padding: 0 10px 0 10px;
      font-size: 20px;
        &:hover, &:active {
          background-color: var(--primaryColorAccent);
    }}}
    & > .labelTeam {
      width: calc(100% - 16px);
      display: flex;
      overflow-y: scroll;
      & > .design {
        margin: auto;
        display: flex;
        width: min-content;
}}}
.map {
  position: sticky;
  // top: 120px;
  top: 0;
  width: calc(100% - 20px);
  margin: auto;
  height: 220px;
  display: flex;
  background-color: var(--primaryColorLink);
  z-index: 10000000;
}
.cards {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  & > div {
    margin: 10px;
}}
@media screen and (max-width: 800px) {
  .content {
  }
  .allSearch {
    & >.search {
      & >.searchLine {
        &::placeholder {
        }
        &:focus::placeholder {
      }}
      & >.searchButton {
          &:hover, &:active {
      }}}
      & > .labelTeam {
  }}
  .map {
  }
  .cards {
    margin-top: 10px;
    & > div {
      margin: 5px;
}}}
@media screen and (max-width: 720px) {
  .content {
  }
  .allSearch {
    & >.search {
      & >.searchLine {
        &::placeholder {
        }
        &:focus::placeholder {
      }}
      & >.searchButton {
          &:hover, &:active {
      }}}
      & > .labelTeam {
  }}
  .map {
    width: 100%;
    height: 160px;
  }
  .cards {
    width: 100%;
    & > div {
}}}
//-----Especial elements-----
.checkIt {
  background-color: red;
}
