<div class="content">

    <div class="allSearch">

        <div class="search">
            <input type="text" class="searchLine" #searchLine
            placeholder="Busca tu restaurante" >
            <button class="searchButton" (click)="localSearch(searchLine)">
            </button>
        </div>
            
        <div class="labelTeam">
            <div class="design">
                <ng-container *ngFor="let option of options">
                <label #label for="{{option.id}}" class="lctl-disabledButtonOpposite-s" [ngClass]="{'checkIt': input.checked}">{{option.value}}</label>
                <input type="checkbox" style="display: none;" id="{{option.id}}" value="{{option.value}}" #input (click)="typeOfFood(input, label)">
                </ng-container>
            </div>
        </div>

    </div>

    <div class="map">
        <div id="mapid" style="width: 100%; height: 100%;"></div>
    </div>

    <div class="cards">
    
        <div class="lctl-simpleCard" *ngFor = "let restaurant of rendered; let i = index" (click)="clickCard(i)">
            <!-- <div class="lctl-simpleCard-banner" *ngIf="restaurant.header; else notHeader">
                <img src="{{restaurant.header}}">
            </div> -->
            <div class="lctl-simpleCard-banner"  #notHeader>
                <img src="assets/photos/potada2.png">
            </div>
            <!-- <div class="lctl-simpleCard-photoProfile" *ngIf="restaurant.logo; else notLogo">
                <div class="lctl-photoProfile-">
                    <img src="{{restaurant.logo}}">
                </div>
            </div> -->
            <div class="lctl-simpleCard-photoProfile" #notLogo>
                <div class="lctl-photoProfile-">
                    <img #notLogo src="assets/photos/logorestaurante2.png">
                </div>
            </div>
            <div class="lctl-simpleCard-info">
                <div class="lctl-simpleCard-title">
                    {{restaurant.name}}
                </div>
                <div class="lctl-simpleCard-paragraphs">
                    <div class="lclt-simpleCard-firstParagraph">
                        {{restaurant.food_type}}
                    </div>
                    <div class="lctl-simpleCard-secondParagraph">
                        {{restaurant.phone}}
                    </div>
                    <div class="lctl-simpleCard-thirdParagraph">
                        dirección
                    </div>
                </div>
            </div>
            <div class="lctl-br"></div>
            <div class="lctl-simpleCard-footer">
                <a class="lctl-warnButtonOpposite-s" href="{{restaurant.url}}" target="_blank">web</a>
                <a class="lctl-warnButtonOpposite-s" (click)="toReservate(i)">Reservar</a>
            </div>
        </div>

    </div>

</div>








<!-- 
    <div *ngFor = "let restaurant of rendered; let i = index" (click)="clickCard(i)">
        <div class="lctl-infoCard">
            <ng-container *ngIf="restaurant.header; else notHeader">
                <div class="lctl-infoCard-banner">
                    <img src="{{restaurant.header}}">
                </div>
            </ng-container>
            <ng-template #notHeader>
                <div class="lctl-infoCard-banner">
                    <img src="assets/photos/potada2.png">
                </div>
            </ng-template>
            <div class="lctl-infoCard-under">
                <div class="lctl-infoCard-left">
                    <ng-container *ngIf="restaurant.logo; else nologo">
                        <div class="lctl-photoProfile-l">
                            <img src="{{restaurant.logo}}">
                        </div>
                    </ng-container>
                    <ng-template #nologo>
                        <div class="lctl-photoProfile-l">
                            <img src="assets/photos/logorestaurante2.png">
                        </div>
                    </ng-template>
                </div>
                <div class="lctl-infoCard-right">
                    <div class="lctl-infoCard-info">
                        <div>{{restaurant.name}}</div>
                        <div>
                            <div>{{restaurant.phone}}</div>
                            <div>{{restaurant.food_type}}</div>
                        </div>
                    </div>
                    <div class="lctl-infoCard-oferts">
                    </div>
                </div>
            </div>
            <div class="lctl-infoCard-bottons">
                <a class="lctl-warnButtonOpposite-s" (click)="toReservate(i)">Reservar</a>
                <a class="lctl-warnButtonOpposite-s" href="{{restaurant.url}}" target="_blank">web</a>
            </div>
        </div>
    </div> -->