<div class="header">
    <app-navbarClient></app-navbarClient>
</div>
         <div class="content">
         <div class="lctl-centerElements">
            <div class="search">
               <input type="text" class="searchLine" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                   <img src="../../../../assets/seach.svg" alt="">
               </button>
            </div>
         </div>
         <div class="lctl-centerElements labelteam">
            <button class="button">Mexicana</button>
            <button class="button">Española</button>
            <button class="button">Argentina</button>
            <button class="button">Dominicana</button>
            <button class="button">Japonesa</button>
            <button class="button">China</button>
            <button class="button">China</button>
        </div>


        <mat-divider class="divider"></mat-divider>

        <div class="cards">

            <div class="lctl-cardButton">
                         <div class="lctl-photoProfile-m">
                             <img src="
                             http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
                             ">
                         </div>
                         <div>
                             <p class="lctl-font-title">La Abuela</p>
                             <p class="lctl-font-small">
                                 dirección
                             </p>
                         </div>
                    </div>
                    <div class="lctl-cardButton">
                        <div class="lctl-photoProfile-m">
                            <img src="
                            http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
                            ">
                        </div>
                        <div>
                            <p class="lctl-font-title">La Abuela</p>
                            <p class="lctl-font-small">
                                dirección
                            </p>
                        </div>
                   </div>
                   <div class="lctl-cardButton">
                    <div class="lctl-photoProfile-m">
                        <img src="
                        http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
                        ">
                    </div>
                    <div>
                        <p class="lctl-font-title">La Abuela</p>
                        <p class="lctl-font-small">
                            dirección
                        </p>
                    </div>
               </div>
               <div class="lctl-cardButton">
                <div class="lctl-photoProfile-m">
                    <img src="
                    http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
                    ">
                </div>
                <div>
                    <p class="lctl-font-title">La Abuela</p>
                    <p class="lctl-font-small">
                        dirección
                    </p>
                </div>
           </div>
           <div class="lctl-cardButton">
            <div class="lctl-photoProfile-m">
                <img src="
                http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
                ">
            </div>
            <div>
                <p class="lctl-font-title">La Abuela</p>
                <p class="lctl-font-small">
                    dirección
                </p>
            </div>
       </div>
       <div class="lctl-cardButton">
        <div class="lctl-photoProfile-m">
            <img src="
            http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
            ">
        </div>
        <div>
            <p class="lctl-font-title">La Abuela</p>
            <p class="lctl-font-small">
                dirección
            </p>
        </div>
   </div>
   <div class="lctl-cardButton">
    <div class="lctl-photoProfile-m">
        <img src="
        http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
        ">
    </div>
    <div>
        <p class="lctl-font-title">La Abuela</p>
        <p class="lctl-font-small">
            dirección
        </p>
    </div>
</div>
<div class="lctl-cardButton">
    <div class="lctl-photoProfile-m">
        <img src="
        http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
        ">
    </div>
    <div>
        <p class="lctl-font-title">La Abuela</p>
        <p class="lctl-font-small">
            dirección
        </p>
    </div>
</div>
<div class="lctl-cardButton">
    <div class="lctl-photoProfile-m">
        <img src="
        http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
        ">
    </div>
    <div>
        <p class="lctl-font-title">La Abuela</p>
        <p class="lctl-font-small">
            dirección
        </p>
    </div>
</div>
<div class="lctl-cardButton">
    <div class="lctl-photoProfile-m">
        <img src="
        http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
        ">
    </div>
    <div>
        <p class="lctl-font-title">La Abuela</p>
        <p class="lctl-font-small">
            dirección
        </p>
    </div>
</div>
<div class="lctl-cardButton">
    <div class="lctl-photoProfile-m">
        <img src="
        http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
        ">
    </div>
    <div>
        <p class="lctl-font-title">La Abuela</p>
        <p class="lctl-font-small">
            dirección
        </p>
    </div>
</div>
<div class="lctl-cardButton">
    <div class="lctl-photoProfile-m">
        <img src="
        http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
        ">
    </div>
    <div>
        <p class="lctl-font-title">La Abuela</p>
        <p class="lctl-font-small">
            dirección
        </p>
    </div>
    
</div>
<div class="lctl-cardButton">
    <div class="lctl-photoProfile-m">
        <img src="
        http://5b0988e595225.cdn.sohucs.com/images/20180409/372ad315fcc84eeea032ef2994b6cd04.jpeg
        ">
    </div>
    <div>
        <p class="lctl-font-title">La Abuela</p>
        <p class="lctl-font-small">
            dirección
        </p>
    </div>
    
</div>
            <!-- <div class="cardRest">
            </div>
            <div class="cardRest">
            </div>
            <div class="cardRest">
            </div>
            <div class="cardRest">
            </div>
            <div class="cardRest">
            </div>
            <div class="cardRest">
            </div>
            <div class="cardRest">
            </div>
            <div class="cardRest">
            </div>
            <div class="cardRest">
            </div>
            <div class="cardRest">
            </div>
            <div class="cardRest">
            </div>
            <div class="cardRest">
            </div> -->
           


        </div>

        </div>

  

