<div class="colocaritems">
    <div class="first">
        <div>
            <img src="assets/Mesa.svg">
        </div>
        <div>
            <div class="colocaritems2">
                <div>
                    <p class="lctl-font-bold">
                        ¿Quieres reservar mesa?
                    </p>
                    <button class="lctl-button-m" routerLink="/registration-client">
                        Reservar
                    </button>
                </div>
                <div>
                    <p class="lctl-font-bold">
                        ¿Quieres registrar tu restaurante?
                    </p>
                    <button class="lctl-button-m" routerLink="/registration-owner">
                        Registrar
                    </button>
                </div>
              
            </div>
            <hr>
            <div class="letraspeque">¿Aún no has creado tu cuenta?&nbsp;&nbsp;<span><a class="letraspeque" routerLink="/registration">Registrate</a></span></div>  
        </div>
    </div>
    
</div>


