<div class="colocaritems">
    <div class="first">
        <div>
            <img src="assets/Mesa.svg">
        </div>
        <div>
            <div class="colocaritems2">
                <div>
                    <p class="lctl-font-bold">
                        Registrarse como cliente
                    </p>
                    <button class="lctl-button-m" routerLink="/registration-client">
                        Registrarse
                    </button>
                </div>
                <div>
                    <p class="lctl-font-bold">
                        Registrarse como restaurante
                    </p>
                    <button class="lctl-button-m" routerLink="/registration-owner">
                        Registrarse
                    </button>
                </div>
              
            </div>
            <hr>
            <div class="letraspeque">¿Ya estás registrado?&nbsp;&nbsp;<span><a class="letraspeque" routerLink="/home">Haz login</a></span></div>  
        </div>
    </div>
    
</div>


