<div class="maxContainer">
  <form class="lctl-div" #userForm="ngForm" (ngSubmit)="(userForm.invalid) ? '' : onSubmit()">
    <label for="photoInput">
      <ng-container *ngIf="this.userCustomer.photo; else notPhoto">
      <div class="lctl-photoProfile-l">
        <img id="photo" src="{{this.userCustomer.photo}}">
      </div>
      </ng-container>
      <ng-template #notPhoto>
        <div class="lctl-photoProfile-l">
          <img id="photo" src="assets/photos/logorestaurante2.png">
        </div>
      </ng-template>
    </label>
    <input id="photoInput" type="file" name="photoInput" autocomplete="off"
      accept="image/x-png,image/gif,image/jpeg" #foto (change)="processFile(foto)">
    <div class="lctl-font-title">Edita tu perfil</div>
    <div class="lctl-font-paragraph">Los datos de contacto son visibles para los restaurantes</div>
    <input class="lctl-input-l-extraLarge" name="name" autocomplete="off" placeholder="Nombre" 
      [(ngModel)]="userCustomer.name" #name="ngModel" type="text"
       required [ngClass]="{'invalidForm':userForm.submitted && name.invalid}">
    <input class="lctl-input-l-extraLarge" name="surname" autocomplete="off" placeholder="Apellidos" 
      [(ngModel)]="userCustomer.surname" #surname="ngModel" type="text"
      required [ngClass]="{'invalidForm':userForm.submitted && surname.invalid}">
    <input class="lctl-input-l-extraLarge" name="phone" autocomplete="off" placeholder="Telefono" 
      [(ngModel)]="userCustomer.phone" #phone="ngModel" type="tel"
      minlength="9" maxlength="9" required [ngClass]="{'invalidForm':userForm.submitted && phone.invalid}">
    <div class="lctl-br space"></div>
    <input class="lctl-input-l-extraLarge password" name="password1" type="password" autocomplete="off"
      [(ngModel)]="checkPassword" #password1="ngModel" placeholder="Nueva contraseña"
      minlength="6" [ngClass]="{'invalidForm':userForm.submitted && password1.invalid}">
    <input class="lctl-input-l-extraLarge password" name="password2" type="password" autocomplete="off"
      [(ngModel)]="checkPassword2" #password2="ngModel" placeholder="Confirmar contraseña"
      minlength="6" [ngClass]="{'invalidForm':userForm.submitted && password2.invalid}">
    <div class="messageInvalidform">
      <div>
        {{message}}
      </div>
    </div>
    <div class="message2">Confirma tu contraseña</div>
    <input class="lctl-input-l-extraLarge password" name="password" type="password" autocomplete="off"
      [(ngModel)]="pass" #password="ngModel" placeholder="Contraseña"
      minlength="6" required [ngClass]="{'invalidForm':userForm.submitted && password.invalid}">
    <div class="buttons">
      <div class="lctl-button-m">Cancelar</div>
      <button type="submit" class="lctl-button-m">Guardar</button>
    </div>
  </form>
</div>

<!-- <input class="lctl-input-l-extraLarge" name="email" autocomplete="off" placeholder="Email" 
[(ngModel)]="users.mail" #mail="ngModel" id="profile" type="email"
email required [ngClass]="{'invalidForm':userForm.submitted && mail.invalid}"> -->