

.target{
    max-width: 700px;
    min-width: 280px;
    height: 400px;
    display: flex;
    margin: auto;
    flex-direction: column;
    border: 2px solid var(--secundaryColorPush);
    background-color: var(--secundaryColor);
    border-radius: var(--borderRadiusM);

    
    & > .elements{
        
        
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

    }
    & > div:nth-child(2){
       
        display: flex;
        justify-content: space-around;
        width: 250px;
        margin: auto;
        height: 60px;
    }
    
}



.image{
    display: flex;
    width: 100%;
    height: 340px;
    margin: auto;
    

    & > .message {
       z-index: 3;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 500px;
        margin-right: -50px;


        & > p{
            font-size: var(--fontSizeM);
            text-align: center;

        }
    }

    & > .imageIn {
       
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 500px;   
        margin-left: -50px;
        height: 300px;
    }
}


@media only screen and (max-width:500px) {

    .target{
        
        & > .elements {
            
            & > .image {
                flex-direction: column;
                & > .message{
                    margin-right: 0;
                    width: 100%;
                    transform: translateY(40px);
                }
               & > .imageIn{
                margin-left: 0;
                width: 100%;
                height: calc(100% - 100px);
               }
            }
        }    
    }
}




