<div class="content">
   <div class="contentTitle">
      <div>
         <!-- Aquí se puede meter texto -->
         <!-- Este texto se puede meter desde el ts para unificar modals-->
      </div>
   </div>
   <div class="img">
       <img id="image" src="..//..//..//..//assets/null.svg"> <!-- Esta imagen se puede meter desde el ts para unificar modals-->
   </div>
   <div class="info">
         <!-- Este texto se puede meter desde el ts para unificar modals-->
         {{mensaje}}
   </div>
    <div class="buttons">
       <button class="lctl-warnButton-s" mat-dialog-close>Cerrar</button>
    </div>
<div>
