<div class="content">

    <div class="allSearch">

        <div class="search">
            <input type="text" class="searchLine" #searchLine
            placeholder="Busca tu restaurante" >
            <button class="searchButton" (click)="localSearch(searchLine)">
            </button>
        </div>
            
        <div class="labelTeam">
            <div class="design">
                <ng-container *ngFor="let option of options">
                <label #label for="{{option.id}}" class="lctl-disabledButtonOpposite-s" [ngClass]="{'lctl-disabledButtonOpposite-s-selected': input.checked}">{{option.value}}</label>
                <input type="checkbox" style="display: none;" id="{{option.id}}" value="{{option.value}}" #input (click)="typeOfFood(input, label)">
                </ng-container>
            </div>
        </div>

    </div>

    <div class="map">
        <div id="mapid" style="width: 100%; height: 100%;"></div>
    </div>

    <div class="cards">
    
        <div class="lctl-simpleCard" *ngFor = "let restaurant of rendered; let i = index" (click)="clickCard(i)">
            <div class="lctl-simpleCard-banner" *ngIf="restaurant.header; else notHeader">
                <img src="{{restaurant.header}}">
            </div>
            <ng-template #notHeader>
                <div class="lctl-simpleCard-banner">
                    <img src="assets/photos/potada2.png">
                </div>
            </ng-template>
            <div class="lctl-simpleCard-photoProfile" *ngIf="restaurant.logo; else notLogo">
                <div class="lctl-photoProfile-">
                    <img src="{{restaurant.logo}}">
                </div>
            </div>
            <ng-template #notLogo>
                <div class="lctl-simpleCard-photoProfile">
                    <div class="lctl-photoProfile-">
                        <img #notLogo src="assets/photos/logorestaurante2.png">
                    </div>
                </div>
            </ng-template>
            <div class="lctl-simpleCard-info">
                <div class="lctl-simpleCard-title">
                    {{restaurant.name}}
                </div>
                <div class="lctl-simpleCard-paragraphs">
                    <div class="lclt-simpleCard-firstParagraph">
                        {{restaurant.food_type}}
                    </div>
                    <div class="lctl-simpleCard-secondParagraph">
                        {{restaurant.phone}}
                    </div>
                    <div class="lctl-simpleCard-thirdParagraph">
                        {{restaurant.street_name}}, {{restaurant.street_number}}. {{restaurant.city}}
                    </div>
                </div>
            </div>
            <div class="lctl-br"></div>
            <div class="lctl-simpleCard-footer">
                <a class="lctl-warnButtonOpposite-s" href="{{restaurant.url}}" target="_blank">web</a>
                <a class="lctl-warnButtonOpposite-s" (click)="toReservate(i,restaurant)">Reservar</a>
            </div>
        </div>

    </div>

</div>