<div class="head">
    <img src="
    assets/photos/portada.png
    " alt="">
</div>
<div class="under">
    <div>
        <div>
            <div class="lctl-photoProfile-l">
                <img src="
                    assets/photos/logorestaurante.png
                " alt="">
            </div>

        </div>
        <div>
            <p>
                nombre restaurante
            </p>
        </div>
    </div>
    <div>
        <div>
            <div>
                <p>
                    dirección
                </p>
            </div>
            <div>
                <p>
                    teléfono
                </p>
            </div>
        </div>
    </div>
</div>