<!-- <div class="head">
    <img src="
    assets/photos/portada2.png
    " alt="">
</div>
<div class="under">
    <div>
        <div>
            <div class="lctl-photoProfile-l">
                <img src="
                    assets/photos/logorestaurante.png
                " alt="">
            </div>

        </div>
        <div>
            <p>
                {{this.restaurantService.restaurantReservation.name}}
            </p>
        </div>
    </div>
    <div>
        <div>
            <div>
                <p>
                    {{this.restaurantService.restaurantReservation.street_name}}
                    {{this.restaurantService.restaurantReservation.street_number}}
                    {{this.restaurantService.restaurantReservation.city}}
                </p>
            </div>
            <div>
                <p>
                    {{this.restaurantService.restaurantReservation.phone}}
                </p>
            </div>
        </div>
    </div>
</div> -->

<div class="content">
    <div class="hader">

    </div>
    <div class="logo">

    </div>

    <div class="info">

        <div class="title">
        </div>

        <div class="sub">

            <div class="first"></div>
            <div class="second"></div>

        </div>

    </div>

</div>
