<div class="head">
    <img src="
    https://static.vix.com/es/sites/default/files/imj/hogartotal/3/30-cosas-de-los-gatos-que-no-sabias-1.jpg
    " alt="">
</div>
<div class="under">
    <div>
        <div>
            <div class="lctl-photoProfile-l">
                <img src="
                https://i.pinimg.com/originals/b9/1b/62/b91b62e5dae48e913abb3b74b80ccae7.jpg
                " alt="">
            </div>

        </div>
        <div>
            <p>
                nombre restaurante ikcnmpicimom
            </p>
        </div>
    </div>
    <div>
        <div>
            <div>
                <p>
                    dirección
                </p>
            </div>
            <div>
                <p>
                    teléfono
                </p>
            </div>
        </div>
    </div>
</div>