<div class="content">
    <div class="title"><p>La Abuela</p></div>
    <div class="info">

        <div class="Map">
            <app-maprest></app-maprest>

        </div> 
        <div class="shape">
           
            <p class="lctl-leftElements"> La Abuela </p> 
            <p class="lctl-rightElements"> La Abuela </p> 
                
        </div>
        
    </div>

     <div class="button">
         
         <button class="lctl-warnButton-s button">Reservar</button>
       
  </div>