<div class="content">
    <div class="contentTitle">
        <div>
            {{restaurant.name}},
            {{restaurant.phone}}
        </div>
    </div>
    <div class="infoR">
        <div class="map">
            <app-maprest></app-maprest>
        </div>
        <!-- <div class="info">
            <div class="tel">{{restaurant.name}}</div>
            <div class="options">
                <button class="lctl-warnButtonOpposite-s">web</button>
                <button class="lctl-warnButtonOpposite-s">Reservar</button>
            </div>
        </div> -->
    </div>
    <div class="buttons">
        <button class="lctl-warnButton-s button" mat-dialog-close>Cerrar</button>
    </div>
</div>