@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primaryColor: #D5341F;
  --primaryColorAccent: #D2000D;
  --primaryColorContrast: #f3f5f7;
  --primaryColorOpposite: 0;
  --primaryColorPush: #e07668;
  --primaryColorLink: #4F70FF;
  --secundaryColor: #f3f5f7;
  --secundaryColorAccent: #D2000D;
  --secundaryColorContrast: #D5341F;
  --secundaryColorOpposite: #121212;
  --secundaryColorPush: #8f8c8c;
  --secundaryColorLink: #4F70FF;
  --fontSizeXS: 9px;
  --fontSizeS: 14px;
  --fontSizeM: 18px;
  --fontSizeL: 24px;
  --fontSizeXL: 32px;
  --fontSizeXXL: 42px;
  --fontWidthLight: 300;
  --fontWidthMedium: 400;
  --fontWidthBolder: 600;
  --borderRadiusS: 2px;
  --borderRadiusM: 4px;
  --borderRadiusL: 6px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--fontSizeM);
  font-weight: var(--fontWidthMedium);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

*::-webkit-scrollbar {
  width: 0px;
  background-color: red;
}

*::-webkit-scrollbar-thumb {
  background: var(--secundaryColorPush);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--secundaryColorOpposite);
}

*::-webkit-scrollbar-thumb::-webkit-scrollbar-thumb:hover {
  background-color: var(--secundaryColorPush);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

[class*="lctl-font-title"] {
  font-weight: var(--fontWidthBolder);
  font-size: var(--fontSizeL);
  text-transform: uppercase;
}

[class*="lctl-font-paragraph"] {
  font-weight: var(--fontWidthMedium);
  font-size: var(--fontSizeM);
}

[class*="lctl-font-bold"] {
  font-weight: var(--fontWidthBolder);
  font-size: var(--fontSizeM);
}

[class*="lctl-font-lightly"] {
  font-weight: var(--fontWidthLight);
  font-size: var(--fontSizeM);
}

[class*="lctl-font-link"] {
  font-weight: var(--fontWidthMedium);
  font-size: inherit;
  color: var(--primaryColorLink);
}

[class*="lctl-font-accent"] {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: uppercase;
}

[class*="lctl-font-underline"] {
  font-weight: var(--fontWidthMedium);
  font-size: var(--fontSizeS);
  color: var(--secundaryColorOpposite);
}

[class*="lctl-font-comment"] {
  font-weight: var(--fontWidthMedium);
  font-size: var(--fontSizeS);
  color: var(--secundaryColorPush);
}

[class*="lctl-font-small"] {
  font-weight: var(--fontWidthMedium);
  font-size: var(--fontSizeXS);
}

[class*="lctl-button"] {
  text-transform: capitalize;
  color: var(--primaryColorContrast);
  background: var(--primaryColor);
  border: none;
  outline: none !important;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  margin: 5px;
  max-width: 100%;
  font-weight: var(--fontWidthBolder);
}

[class*="lctl-button"]:active {
  background-color: var(--primaryColorPush);
}

[class*="lctl-button-s"] {
  width: 100px;
  height: 25px;
  border-radius: var(--borderRadiusS);
  font-size: var(--fontSizeS);
}

[class*="lctl-button-m"] {
  width: 150px;
  height: 35px;
  border-radius: var(--borderRadiusM);
  font-size: var(--fontSizeM);
}

[class*="lctl-button-l"] {
  width: 300px;
  height: 50px;
  border-radius: var(--borderRadiusL);
  font-size: var(--fontSizeL);
}

[class*="lctl-buttonOpposite"] {
  text-transform: capitalize;
  color: var(--primaryColor);
  background: inherit;
  border: 1px solid var(--primaryColor);
  outline: none !important;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  margin: 5px;
  max-width: 100%;
  font-weight: var(--fontWidthBolder);
}

[class*="lctl-buttonOpposite"]:active {
  background-color: var(--primaryColor);
  color: var(--primaryColorContrast);
}

[class*="lctl-buttonOpposite-s"] {
  width: 100px;
  height: 25px;
  border-radius: var(--borderRadiusS);
  font-size: var(--fontSizeS);
}

[class*="lctl-buttonOpposite-m"] {
  width: 150px;
  height: 35px;
  border-radius: var(--borderRadiusM);
  font-size: var(--fontSizeM);
}

[class*="lctl-buttonOpposite-l"] {
  width: 300px;
  height: 50px;
  border-radius: var(--borderRadiusL);
  font-size: var(--fontSizeL);
}

[class*="lctl-warnButton"] {
  text-transform: capitalize;
  color: var(--primaryColorContrast);
  background: var(--primaryColorAccent);
  border: none;
  outline: none !important;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  margin: 5px;
  max-width: 100%;
  font-weight: var(--fontWidthBolder);
}

[class*="lctl-warnButton"]:active {
  background-color: var(--primaryColorPush);
}

[class*="lctl-warnButton-s"] {
  width: 100px;
  height: 25px;
  border-radius: var(--borderRadiusS);
  font-size: var(--fontSizeS);
}

[class*="lctl-warnButton-m"] {
  width: 150px;
  height: 35px;
  border-radius: var(--borderRadiusM);
  font-size: var(--fontSizeM);
}

[class*="lctl-warnButton-l"] {
  width: 300px;
  height: 50px;
  border-radius: var(--borderRadiusL);
  font-size: var(--fontSizeL);
}

[class*="lctl-warnButtonOpposite"] {
  text-transform: capitalize;
  color: var(--secundaryColorAccent);
  background: inherit;
  border: 1px solid var(--secundaryColorAccent);
  outline: none !important;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  margin: 5px;
  max-width: 100%;
  font-weight: var(--fontWidthBolder);
}

[class*="lctl-warnButtonOpposite"]:active {
  background-color: var(--secundaryColorContrast);
  color: var(--secundaryColor);
}

[class*="lctl-warnButtonOpposite-s"] {
  width: 100px;
  height: 25px;
  border-radius: var(--borderRadiusS);
  font-size: var(--fontSizeS);
}

[class*="lctl-warnButtonOpposite-m"] {
  width: 150px;
  height: 35px;
  border-radius: var(--borderRadiusM);
  font-size: var(--fontSizeM);
}

[class*="lctl-warnButtonOpposite-l"] {
  width: 300px;
  height: 50px;
  border-radius: var(--borderRadiusL);
  font-size: var(--fontSizeL);
}

[class*="lctl-disabledButton"] {
  text-transform: capitalize;
  color: var(--secundaryColor);
  background: var(--secundaryColorPush);
  border: none;
  outline: none !important;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  margin: 5px;
  max-width: 100%;
  font-weight: var(--fontWidthBolder);
}

[class*="lctl-disabledButton"]:active {
  background-color: var(--secundaryColorPush);
}

[class*="lctl-disabledButton-s"] {
  width: 100px;
  height: 25px;
  border-radius: var(--borderRadiusS);
  font-size: var(--fontSizeS);
}

[class*="lctl-disabledButton-m"] {
  width: 150px;
  height: 35px;
  border-radius: var(--borderRadiusM);
  font-size: var(--fontSizeM);
}

[class*="lctl-disabledButton-l"] {
  width: 300px;
  height: 50px;
  border-radius: var(--borderRadiusL);
  font-size: var(--fontSizeL);
}

[class*="lctl-disabledButtonOpposite"] {
  text-transform: capitalize;
  color: var(--secundaryColorPush);
  background: inherit;
  border: 1px solid var(--secundaryColorPush);
  outline: none !important;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  margin: 5px;
  max-width: 100%;
  font-weight: var(--fontWidthBolder);
}

[class*="lctl-disabledButtonOpposite"]:active {
  background-color: inherit;
  color: var(--secundaryColorPush);
}

[class*="lctl-disabledButtonOpposite-s"] {
  width: 100px;
  height: 25px;
  border-radius: var(--borderRadiusS);
  font-size: var(--fontSizeS);
}

[class*="lctl-disabledButtonOpposite-m"] {
  width: 150px;
  height: 35px;
  border-radius: var(--borderRadiusM);
  font-size: var(--fontSizeM);
}

[class*="lctl-disabledButtonOpposite-l"] {
  width: 300px;
  height: 50px;
  border-radius: var(--borderRadiusL);
  font-size: var(--fontSizeL);
}

[class*="lctl-input"] {
  background-color: var(--secundaryColor);
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  font-size: 14px;
}

[class*="lctl-input"]::-webkit-input-placeholder {
  text-transform: capitalize;
  color: var(--secundaryColorPush);
}

[class*="lctl-input"]:-ms-input-placeholder {
  text-transform: capitalize;
  color: var(--secundaryColorPush);
}

[class*="lctl-input"]::-ms-input-placeholder {
  text-transform: capitalize;
  color: var(--secundaryColorPush);
}

[class*="lctl-input"]::placeholder {
  text-transform: capitalize;
  color: var(--secundaryColorPush);
}

[class*="lctl-input-s"] {
  width: 100px;
  height: 25px;
  border-radius: var(--borderRadiusS);
  font-size: var(--fontSizeS);
}

[class*="lctl-input-s-large"] {
  width: 200px;
}

[class*="lctl-input-s-extraLarge"] {
  width: 300px;
}

[class*="lctl-input-m"] {
  width: 150px;
  height: 35px;
  border-radius: var(--borderRadiusM);
  font-size: var(--fontSizeM);
}

[class*="lctl-input-m-large"] {
  width: 300px;
}

[class*="lctl-input-m-extraLarge"] {
  width: 450px;
}

[class*="lctl-input-l"] {
  width: 300px;
  height: 50px;
  border-radius: var(--borderRadiusL);
  font-size: var(--fontSizeL);
}

[class*="lctl-input-l-large"] {
  width: 600px;
}

[class*="lctl-input-l-extraLarge"] {
  width: 900px;
}

[class*="lctl-cellInput"] {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 50px;
  height: 35px;
  border: 1px solid var(--secundaryColorOpposite);
  color: var(--secundaryColorOpposite);
  outline: none;
  background: transparent;
  font-size: var(--fontSizeM);
  font-weight: var(--fontWidthBolder);
}

[class*="lctl-cellInput"]::-webkit-input-placeholder {
  color: var(--secundaryColorPush);
  text-transform: capitalize;
}

[class*="lctl-cellInput"]:-ms-input-placeholder {
  color: var(--secundaryColorPush);
  text-transform: capitalize;
}

[class*="lctl-cellInput"]::-ms-input-placeholder {
  color: var(--secundaryColorPush);
  text-transform: capitalize;
}

[class*="lctl-cellInput"]::placeholder {
  color: var(--secundaryColorPush);
  text-transform: capitalize;
}

[class*="lctl-cellInput"]:disabled {
  color: var(--secundaryColorOpposite);
}

[class*="lctl-cellInput-large"] {
  width: 100px;
  text-align: justify;
}

[class*="lctl-cellInput-large-center"] {
  width: 100px;
  text-align: center;
}

[class*="lctl-cellInput-extraLarge"] {
  width: 200px;
  text-align: justify;
}

[class*="lctl-cellInput-full"] {
  width: 100%;
  text-align: justify;
}

[class*="lctl-cellSelect"] {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 68px;
  height: 35px;
  border: 1px solid var(--secundaryColorOpposite);
  color: var(--secundaryColorOpposite);
  outline: none;
  background: transparent;
  font-size: var(--fontSizeM);
  font-weight: var(--fontWidthBolder);
}

[class*="lctl-cellSelect"]::-webkit-input-placeholder {
  color: var(--secundaryColorPush);
  text-transform: capitalize;
}

[class*="lctl-cellSelect"]:-ms-input-placeholder {
  color: var(--secundaryColorPush);
  text-transform: capitalize;
}

[class*="lctl-cellSelect"]::-ms-input-placeholder {
  color: var(--secundaryColorPush);
  text-transform: capitalize;
}

[class*="lctl-cellSelect"]::placeholder {
  color: var(--secundaryColorPush);
  text-transform: capitalize;
}

[class*="lctl-cellSelect"]:disabled {
  color: var(--secundaryColorOpposite);
}

[class*="lctl-cellSelect"] > option {
  color: var(--secundaryColorOpposite);
  font-size: var(--fontSizeM);
  font-weight: var(--fontWidthBolder);
  border: 1px solid var(--secundaryColorOpposite);
}

[class*="lctl-cellSelect-large"] {
  width: 100px;
  text-align: justify;
}

[class*="lctl-cellSelect-extraLarge"] {
  width: 200px;
  text-align: justify;
}

[class*="lctl-cellSelect-full"] {
  width: 100%;
  text-align: justify;
}

[class*="lctl-navbar"] {
  position: relative;
  width: 100vw;
  min-height: 82px;
  text-transform: uppercase;
  font-weight: var(--fontWidthBolder);
  background-color: var(--secundaryColor);
  color: var(--secundaryColorOpposite);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*="lctl-navbar"] * a, [class*="lctl-navbar"] a {
  font-size: var(--fontSizeM);
  font-weight: var(--fontWidthBolder);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 27px;
  padding-top: 27px;
  text-decoration: none;
}

[class*="lctl-navbar"] * a:hover, [class*="lctl-navbar"] a:hover {
  background-color: var(--secundaryColorContrast);
  color: var(--secundaryColor);
}

[class*="lctl-navbar"] * a:active, [class*="lctl-navbar"] a:active {
  background-color: var(--secundaryColorContrast);
  color: var(--secundaryColor);
}

[class*="lctl-footer"] {
  position: relative;
  width: 100vw;
  min-height: 52px;
  text-transform: uppercase;
  font-weight: var(--fontWidthBolder);
  background-color: var(--secundaryColor);
  color: var(--secundaryColorOpposite);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*="lctl-footer"] * a, [class*="lctl-footer"] a {
  font-size: var(--fontSizeM);
  font-weight: var(--fontWidthBolder);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
}

[class*="lctl-footer"] * a:hover, [class*="lctl-footer"] a:hover {
  background-color: var(--secundaryColorContrast);
  color: var(--secundaryColor);
}

[class*="lctl-footer"] * a:active, [class*="lctl-footer"] a:active {
  background-color: var(--secundaryColorContrast);
  color: var(--secundaryColor);
}

[class*="lctl-centerElements"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

[class*="lctl-leftElements"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

[class*="lctl-rightElements"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

[class*="lctl-photoProfile-"] {
  background-color: var(--secundaryColorOpposite);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1000px;
  border: 2px solid transparent;
  background-color: transparent;
}

[class*="lctl-photoProfile-"]:hover {
  border: 2px solid var(--primaryColor);
}

[class*="lctl-photoProfile-"]:active {
  border: 2px solid var(--primaryColorPush);
}

[class*="lctl-photoProfile-xs"] {
  border: 1px solid transparent;
  width: 20px;
  height: 20px;
}

[class*="lctl-photoProfile-xs"]:hover {
  border: 1px solid var(--primaryColor);
}

[class*="lctl-photoProfile-xs"]:active {
  border: 1px solid var(--primaryColorPush);
}

[class*="lctl-photoProfile-xs"] img {
  width: 20px;
}

[class*="lctl-photoProfile-s"] {
  width: 40px;
  height: 40px;
}

[class*="lctl-photoProfile-s"] img {
  width: 40px;
}

[class*="lctl-photoProfile-m"] {
  width: 60px;
  height: 60px;
}

[class*="lctl-photoProfile-m"] img {
  width: 60px;
}

[class*="lctl-photoProfile-l"] {
  width: 100px;
  height: 100px;
}

[class*="lctl-photoProfile-l"] img {
  width: 100px;
}

[class*="lctl-photoProfile-xl"] {
  width: 160px;
  height: 160px;
}

[class*="lctl-photoProfile-xl"] img {
  width: 160px;
}

[class*="lctl-cardButton"] {
  background-color: var(--secundaryColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  height: 75px;
  width: 200px;
  -webkit-box-shadow: 0 0 5px 1px var(--secundaryColorPush);
          box-shadow: 0 0 5px 1px var(--secundaryColorPush);
  cursor: pointer;
}

[class*="lctl-cardButton"]:hover {
  background-color: var(--secundaryColorPush);
}

[class*="lctl-cardButton"] div:first-child {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

[class*="lctl-cardButton"] div:first-child:hover {
  border-color: transparent !important;
}

[class*="lctl-cardButton"] div:nth-child(2) {
  width: 140px;
  padding-left: 0px;
  padding-right: 15px;
  padding-top: 20px;
  overflow: hidden;
}

[class*="lctl-cardButton"] p:first-child {
  text-align: justify;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: var(--secundaryColorContrast);
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[class*="lctl-cardButton"] p:nth-child(2) {
  padding: 0;
  margin-top: -15px;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[class*="lctl-bigCard"] {
  min-width: 280px;
  min-width: 280px;
  max-width: 1200px;
  height: 270px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--secundaryColorPush);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px 1px var(--secundaryColorPush);
          box-shadow: 0 0 10px 1px var(--secundaryColorPush);
  overflow: hidden;
  cursor: pointer;
}

[class*="lctl-bigCard"]:active div {
  background-color: var(--secundaryColorPush) !important;
}

[class*="lctl-bigCard"] > div:first-child {
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*="lctl-bigCard"] > div:first-child img {
  max-width: 100%;
}

[class*="lctl-bigCard"] > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--secundaryColor);
}

[class*="lctl-bigCard"] > div:nth-child(2) div {
  border: 2px solid var(--secundaryColorPush);
  margin-top: -40px;
  width: 100px;
  height: 100px;
}

[class*="lctl-bigCard"] > div:nth-child(3) {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secundaryColor);
}

[class*="lctl-bigCard"] > div:nth-child(3) div {
  width: 33%;
  text-align: center;
}

[class*="lctl-bigCard"] > div:nth-child(3) > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px 0 10px;
  font-weight: var(--fontWidthBolder);
}

[class*="lctl-bigCard"] > div:nth-child(3) > div a {
  text-decoration: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

[class*="lctl-bigCard"] > div:nth-child(3) > div:nth-child(2) {
  font-size: var(--fontSizeL);
  font-weight: var(--fontWidthBolder);
  margin-top: -30px;
}

[class*="lctl-div"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 580px;
  min-width: 320px;
  border-radius: var(--borderRadiusL);
}

[class*="lctl-div-s"] {
  max-width: 320px;
  min-width: 200px;
}

[class*="lctl-div-m"] {
  max-width: 580px;
  min-width: 320px;
}

[class*="lctl-div-l"] {
  max-width: 740px;
  min-width: 580px;
}

[class*="lctl-br"] {
  width: 100%;
  height: 2px;
  margin: auto;
  background-color: var(--secundaryColorPush);
}
/*# sourceMappingURL=lucatiel.css.map */