<div class="content">
    <div><p>MESA 1</p></div>
    <div class="info">
            <p>
            Nombre: José Fernandez <br/>
            Día: 21/09/20020<br/>
            Horario: 5:00PM
        </p> 
    </div>

     <div>
        <button   class="lctl-warnButton-s buttonLib">Liberada</button>
         <button   class="lctl-warnButton-s buttonCan">Cancelada</button>
         <button   class="lctl-warnButton-s buttonRes">Reservada</button>
         <button   class="lctl-warnButton-s buttonSen">Sentados</button>
         <button   class="lctl-warnButton-s buttonAu">Ausente</button>

       
     </div>
  
  </div>
   