<nav class="lctl-navbar">
    <div class="lctl-navbar-leftElements">
        <a routerLink="/" class="img" routerLink="/reservations-list-restaurant">
            <img src="../../../../assets/LogoMiReserva.svg" alt="Logo empresa">
        </a>    
        <a routerLink="/reservations-list-restaurant">Reservas</a>
        <!-- <a routerLink="/">Estadisticas</a> -->
    </div>

    <div class="lctl-rightElements">
        <a routerLink="/" class="img">
            <img src="" alt="" class="lctl-photoProfile-m">
        </a>
    </div>
</nav>