<div class="lctl-navContainer">
    <ng-container *ngIf="serviceLogin.restaurants.logo; else sinfoto">
    <button class="lctl_navSection lctl-navToggle">
        <img  src="{{this.serviceLogin.restaurants.logo}}" class="lctl-photoProfile-m">
    </button>
</ng-container>
<ng-template #sinfoto>
    <button class="lctl_navSection lctl-navToggle">
        <img  src="assets/photos/logorestaurante2.png" class="lctl-photoProfile-m">
    </button>
</ng-template>
    <button class="lctl-navItems">
        <div class="lctl-navAfterButton">
            <button class="lctl_navSection lctl-navRightItems">
                <div class="lctl-navAfterButton2">
                    <div class="lctl-navElement" (click)="toLogIn()">
                        Salir
                    </div>
                </div>
            </button>
            <div class="lctl_navSection lctl-navLeftItems">
                <div class="lctl-navElement" (click)="toReservationListRestaurant()">
                    Reservas
                </div>
            </div>
            <button class="lctl-navHidden"></button>
        </div>
    </button>
        <div class="lctl_navSection lctl-navHome" (click)="toReservationListRestaurant()">
            <img src="../../../../assets/LogoMiReserva.svg">
    </div>
</div>